.burger {
  top: 25px;
  right: 25px;
  height: 47px;
  width: 47px;
  z-index: 3;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  @media(@tablet) {
    opacity: 0.7;
    transition: 0.3s;
  }

  &:hover {
    opacity: 1;
  }
  &.home {
    display: none;
    color: @tx-dark;
    @media(@break) {
      display: block;
      color: @tx-light;
    }
  }

  &.contact {
    color: @tx-light;
  }

  &.work {
    color: @tx-accent;
    position: fixed;
  }

  &.about {
    color: @tx-dark;
  }
}