@import '../variables.less';
@import '../mixins.less';
@import '../common.less';

.open .menu {
  box-shadow: -20px 0px 50px 0px rgba(50, 50, 50, 0.5);
  right: 0;
}

.hidden {
  visibility: hidden;
}

.in {
  right: 0;
}

.out {
  right: -21em;
}

.overlay {
  overflow: hidden;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .65);
  top: 0;
  left: 0;
  transition: 0.3s;
  @media(@tablet) {
    background-color: rgba( 255, 255, 255, .65);
  }
}

.menu {
  background-color: #5FA3C0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: auto;
  z-index: 999;
  height: 100%;
  transition: 0.4s;
  .flex {
    margin-top: 0;
  }

  a {
    color: @tx-light;
  }
}

.item {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  overflow: auto;
  border-bottom: 1px solid fade(@tx-light, 70);
  font-weight: bold;
  line-height: 19px;
  font-size: 19px;
  padding-top: 21px;
  padding-bottom: 21px;

  &:first-child {
    border-top: 1px solid fade(@tx-light, 70);
  }
}

.close {
  background-color: @tx-light;
  float: right;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  height: 60px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  font-size: 25px;
}

.logo {
  right: 0;
  left: 0;
  z-index: 3;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .65);
  width: 140px;

  @media(@tablet) {
    padding: 20px;
  }

  &.home {
    top: 30%;
    padding: 20px;
    @media(@tablet) {
      top: 15%;
    }
  }

  &.contact {
    display: none;

    @media(min-width: 1024px) {
      top: 25px;
      padding: 10px;
      width: 80px;
    }
  }

  &.about,
  &.work {
    display: none;
  }
}

.burger {
  top: 25px;
  right: 25px;
  height: 47px;
  width: 47px;
  z-index: 3;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  @media(@tablet) {
    opacity: 0.7;
    transition: 0.3s;
  }

  &:hover {
    opacity: 1;
  }

  &.home,
  &.contact {
    color: @tx-light;
  }

  &.work {
    color: @tx-accent;
    position: fixed;
  }

  &.about {
    color: @tx-dark;
  }
}