@value global: '../../../style.css';

@value tablet from global;
@value clearfix, flex from global;

.root {
  position: relative;
  max-width: 1200px;
  margin: 15px auto 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.ul {
  position: relative;
  display: flex;
  composes: clearfix;
  transition: all 0.3s ease;
}

.ul .active {
  transform: scale(1);
}

.ul .active .overlay {
  opacity: 0.3;
  box-shadow: none;
}

.thumb {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  transition: 0.3s;
  margin: auto 0;
  transform: scale(0.93);
  width: 20%;
}

@media tablet {
  .thumb {
    width: 16.6666666666%
  }
}

.thumb img {
  border-radius: 4px;
}

.thumb.active {
  transform: scale(1);
}

.overlay {
  transition: all 0.7s ease;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media tablet {
  .overlay {
    box-shadow: inset 0px -276px 158px -122px rgba(0, 0, 0, 0.3);
  }
}
