@import url('../../../assets/less/variables.less');

.carousel {
  position: relative;
  overflow: hidden;
  .clearfix();
  width: 100%;
  height: 200px;
  border-top: 1px solid fade(@tx-primary, 60);
  border-bottom: 1px solid fade(@tx-primary, 60);

  @media (min-width: 600px) {
    height: 400px;
  }

  @media(@tablet) {
    margin-top: 0;
    float: right;
    width: 60%;
    height: 365px;
    border: 1px solid fade(@tx-primary, 60);
  }

  @media(@desktop) {
    height: 390px;
  }
}

img {
  .image();
}

.slides {
  .clearfix();
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  transition: all 1s ease;
  transition-duration: 1s;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;

  &.active {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeout {
  0% {opacity:1;}
  100% {opacity:0;}
}

.slideshow {
  .clearfix();
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;

  @media(@tablet) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}