.carousel {
  .clearfix;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  border-bottom: 1px solid #cccccc;
  @media(min-width: 768px) {
    height: 400px;
  }
  @media(min-width: 1024px) {
    height: 600px;
  }
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  transition: background 1s linear;
  opacity: 0;
}

.active {
  .slide;
  opacity: 1;
}

img {
  display: block;
}