.carousel {
  .clearfix;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  border-bottom: 1px solid #cccccc;
  @media(@tablet-portrait) {
    height: 550px;
  }
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  transition: all 1s ease;
  transition-duration: 1s;
  &.inactive {
    opacity: 0;
  }
  &.active {
    opacity: 1;
  }
  &.enter {
    animation: fadein 1s linear;
  }
  &.leave {
    animation: fadeout 1s linear;
  }
}

img {
  .img-scale;
}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeout {
  0% {opacity:1;}
  100% {opacity:0;}
}