.logo {
  .clearfix;
  position: absolute;
  right: 0;
  left: 0;
  top: 25px;
  width: 80px;
  z-index: 3;
  margin: 0 auto;
  padding: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,.65);
  @media(min-width: 1024px) {
    padding: 20px;
    width: 140px;
  }
}

.burger {
  position: absolute;
  top: 25px;
  right: 25px;
  height: 47px;
  width: 47px;
  z-index: 3;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  @media(min-width: 1024px) {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.burger:hover {
  opacity: 1;
}

.logo-about,
.logo-work {
  display: none;
}

.logo-contact {
  display: none;
  @media(min-width: 1024px) {
    .logo;
    display: block;
  }
}

.logo-home {
  .logo;
  top: 30%;
  padding: 20px;
  width: 140px;
  @media(@tablet) {
    top: 15%;
  }
}

.burger-home,
.burger-contact {
  .burger;
  color: #ffffff;
}

.burger-work {
  .burger;
  color: #5FA3C0;
  position: fixed;
}

.burger-about {
  .burger;
  color: #231f20;
}
