@import '../variables.less';

.footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: transparent;
  color: @tx-primary;
  font-size: 12px;
}

.text {
  display: block;
  position: relative;
  line-height: 40px;
}

.home {
  display: none;
}