.nav {
  background-color: @bg-secondary;
  padding-left: 10px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  font-family: @font-helv-neue;
  color: @tx-light;
  overflow: hidden;
  z-index: 3;
  right: 0;
  left: 0;
  position: absolute;

  img {
    .img();
    width: 730px;
    position: absolute;
    top: -110px;
    left: -390px;

    @media(@tablet) {
      width: 750px;
      top: -120px;
      left: -60px;
    }
  }
}

.burger {
  .clearfix();
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: 0 auto;
  z-index: 3;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  opacity: 1;
  color: @tx-light;

  &.home {
    display: none;

    @media(@tablet) {
      display: block;
    }
  }
}