@import '../variables.less';

.items {
  display: block;
  .clearfix();
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  text-align: center;
  font-family: @font-helv-neue;
}

.item {
  display: block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;

  @media(@tablet) {
    display: inline-block;
    float: left;
    height: 270px;
    width: 33.3333333333%;
  }

}

.content {
  position: relative;
  height: 100%;
  max-width: 300px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media(@tablet) {
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: auto;
  }
}

.links {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;

  @media(@tablet) {
    bottom: -20px;
  }
}

.link {
  display: inline-block;
  margin-left: 15px;

  @media(@tablet) {
    margin-left: 20px;
  }

  span {
    font-size: 32px;

    @media(@tablet) {
      font-size: 29px;
    }
  }

  a {
    color: @tx-secondary;
  }
}

.name {
  font-size: 26px;
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  text-align: justify;
}