@import '../variables.less';

.image {
  width: 730px;
  position: absolute;
  top: -110px;
  left: -390px;
  @media(@tablet) {
    width: 750px;
    top: -120px;
    left: -60px;
  }
}

.project {
  .clearfix();
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  @media(@tablet) {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.detail {
  position: relative;
  padding: 20px 20px 0px;
  .clearfix();

  @media(@break) {
    padding: 25px 40px 0px;
  }

  @media(@tablet) {
    width: auto;
    float: left;
    width: 40%;
    padding: 0 20px;
  }
}

.name {
  display: block;
  position: relative;
  font-size: 26px;
  font-family: @font-helv-neue;
  text-transform: uppercase;
  text-align: left;

  @media(@break) {
    float: left;
    width: 50%;
    margin-bottom: 10px;
  }

  @media(@tablet) {
    float: none;
    width: auto;
  }
}

.desc {
  position: relative;
  line-height: 24px;
  text-align: justify;
  font-family: @font-helv-neue;

  @media(@break) {
    float: right;
    width: 50%;
  }

  @media(@tablet) {
    width: auto;
    margin-top: 0;
    float: none;
    min-height: 220px;
  }
}

.tech {
  border-top: 1px solid fade(@tx-primary, 40);
}

.links,
.tech {
  .flex();
  position: relative;
  text-align: left;
  margin-bottom: 15px;

  @media(@break) {
    width: 250px;
  }

  @media(@tablet) {
    width: auto;
  }

  .item {
    text-align: center;
    font-size: 10px;
    width: 50px;
    height: 50px;

    span {
      font-size: 2.5em;
      line-height: 45px;
    }

    a {
      color: @tx-primary;
    }
  }
}