@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,400,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.li-center {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}


.item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}

.item-25 {
  .item();
  width: 25%;
}

.item-33 {
  .item();
  width: 33.3333333333%;
}

.item-50 {
  .item();
  width: 50%;
}

.icon {
  height: 65px;
  margin: 5px;
}

.icon-accent {
  .icon;
  background-color: @bg-accent;
  color: @tx-light;
}

.icon span {
  line-height: 1.5em;
  height: 65px;
  width: 65px;
}

.flex .text {
  font-size: 23px;
  line-height: 55px;
}

.caption {
  color: @tx-light;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 12px;
}

.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv;
}

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}