@import '../variables.less';
@import '../mixins.less';
@import '../common.less';

/* list */
.squares {
  .flex;
  float: right;
}

.circles {
  .flex;
  min-height: 100vh;
  text-align: center;
  padding-top: 20%;
}

/* list item */
.square {
  .item;
}

.circle {
  display: inline-block;
  overflow: auto;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 110px;
  @media(min-width: 600px) {
    .item-25;
    width: auto;
    height: auto;
  }
  span {
    height: 100%;
    width: 100%;
  }
}

/* icon */
.square .icon {
  background-color: #231f20;
  transition: 0.1s;
  line-height: 65px;
  height: 65px;
  width: 65px;
  margin: 5px;
  font-size: 27px;
}

.square:hover .icon {
  @media(min-width: 1024px) {
    background-color: #ffffff;
    border: 1px #cccccc;
  }
}

.circle .icon {
  color: #231f20;
  display: inline-block;
  transition: all 0.1s ease;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 4em;
  border-radius: 50%;
  background-color: #ffffff;
  @media(min-width: 700px) {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 6em;
  }
  @media(min-width: 1024px) {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 8em;
  }
}

.circle .icon:hover {
  @media(min-width: 600px) {
    background-color: #ffffff;
    color: #5FA3C0;
    transition: all 0.1s ease;
  }
}

.circle a {
  color: #231f20;
  position: absolute;
  right: 0;
  left: 0;
}

.circle:hover a {
  color: #5FA3C0;
}

.square a {
  transition: 0.1s;
  color: #ffffff;
}

.square:hover a {
  @media(min-width: 1024px) {
    color: #5FA3C0;
  }
}
