.hidden {
  display: none;
}

.spinner {
  background-color: #5FA3C0;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11000;
  position: fixed;
  animation-delay: 1.5s;
  animation-duration: 1.5s;


  .spinner-logo {
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 30%;
    right: 0;
    padding: 20px;
    border-radius: 50%;
    background: rgba(255,255,255,.65);
    width: 140px;
    height: 140px;
    @media(@tablet) {
      top: 15%;
      padding: 20px;
      width: 140px;
      height: 140px;
    }
  }

  .spiner-image {
    .img-scale;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }

  .animation {
    position: relative;
    top: 30%;
    width: 140px;
    height: 140px;
    margin:0 auto;
    margin-bottom: -45px;
    border-radius: 100%;
    animation: rotation 0.6s infinite linear;
    @media(min-width: 1024px) {
      top: 15%;
    }
  }

  .animation:before {
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    height: 100%;
    width: 100%;
    border-top: 10px solid rgba(255, 255, 255, 1);
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 100%;
  }

  .animation ::-webkit-scrollbar {
    display: none;
  }
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}