.about {
  position: relative;
}

.about:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 737px) {
  .about {
    min-height: 810px;
  }
}

@media (min-width: 769px) {
  .about {
    min-height: 600px;
  }
}

.info {
  margin: 40px 0 20px;
  max-width: 1200px;
}

.info:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 737px) {
  .info {
    padding-top: 50px;
  }
}

@media (min-width: 769px) {
  .info {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .info {
    margin: 70px auto 40px;
  }
}

.av {
  margin-bottom: 20px
}

@media (min-width: 1024px) {
  .av {
    display: inline-block;
    position: relative;
    width: 45%;
    height: 100%;
    margin-bottom: auto;
  }
}

@media (min-width: 1024px) {
  .details {
    position: relative;
    float: right;
    width: 55%;
    height: 100%;
  }
}

.copy {
  position: relative;
  margin: 0 auto 10px;
  max-width: 450px;
}

.copy:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 1024px) {
  .copy {
    margin: 30px auto 0 0;
  }
}

.image {
  position: relative;
  width: 130px;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .image {
    width: 220px;
    height: auto;
  }
}

.contact {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.contact:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 1024px) {
  .contact {
    margin-bottom: 30px;
  }
  .contact .title {
    display: none;
  }
}

.links {
  display: flex;
  position: relative;
  margin: 0 auto;
  text-align: center;
  right: 0;
  left: 0;
  padding-top: 20px;
  width: 255px;
}

@media (min-width: 1024px) {
  .links {
    position: relative;
    width: auto;
    max-width: 860px;
    padding: 0;
  }
}

.tech {
  display: flex;
  width: 100%;
}

@media (min-width: 1024px) {
  .tech {
    display: block;
    position: absolute;
    right: 10px;
    top: -15%;
  }
}

.tech span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.5em;
}

.tech .list {
  width: 100%;
}

.tech .item {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 25%;
}

.tech .item:nth-child(n+5) {
  display: none;
}

@media (min-width: 1024px) {
  .tech .item {
    display: block;
    text-align: right;
    width: auto;
    margin-bottom: 5px;
  }
  .tech .item:nth-child(n+1) {
    display: block;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin: 0 15px;
}

.text {
  font-size: 17px;
  margin: 15px;
  line-height: 24px;
  text-align: justify;
}

.link {
  display: inline-block;
  position: relative;
  color: tx-dark;
  transition: ease 0.1s all;
  width: 50%;
  height: 110px;
}

@media (min-width: 1024px) {
  .link {
    display: inline-block;
    width: 25%;
    height: 150px;
    padding: 35px 0;
  }
}

.link a {
  display: block;
  position: relative;
  width: 60px;
  margin: 0 auto;
  color: tx-dark;
}

@media (min-width: 1024px) {
  .link a {
    width: 80px;
  }
}

.link span {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

@media (min-width: 1024px) {
  .link span {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 80px;
  }
  .link span:hover {
    background-color: #FFFFFF;
    color: #7C7C87;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
