.burger {
  .clearfix();
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: 0 auto;
  z-index: 3;
  cursor: pointer;
  font-size: 40px;
  text-align: center;
  opacity: 1;

  &.home {
    display: none;
    color: @tx-dark;
    @media(@tablet) {
      display: block;
      color: @tx-light;
    }
  }

  &.contact {
    color: @tx-light;
  }

  &.work {
    color: @tx-light;
  }

  &.about {
    color: @tx-light;
  }
}