@import '../variables.less';

.root {
  width: 100%;
  height: 200px;
  overflow: hidden;
  @media(@tablet-portrait) {
    float: right;
    width: 70%;
    height: 300px;
    margin: 15px;
    border: 1px solid fade(@tx-accent, 60);
  }
  @media(@tablet) {
    height: 450px;
  }
}

.carousel {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.slide {
  transition: all 1s ease;
  transition-duration: 1s;
  &.inactive {
    opacity: 0;
  }
  &.active {
    opacity: 1;
  }
  &.enter {
    animation: fadein 1s linear;
  }
  &.leave {
    animation: fadeout 1s linear;
  }
}

@keyframes fadein {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeout {
  0% {opacity:1;}
  100% {opacity:0;}
}