@import '../variables.less';

.footer {
  position: relative;
  height: 40px;
  bottom: 0px;
  right: 0;
  left: 0;
  background: transparent;
  color: @tx-primary;
  font-size: 12px;
  width: 100%;
}

.text {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
}

span.icon {
  vertical-align: middle;
  font-size: 1.5em;
}

.home {
  display: none;
}

.footer.contact {
  position: absolute;
  background-color: transparent;
  color: @tx-light;
}