@import '../variables.less';

.footer {
  color: @tx-dark;
  background-color: @bg-light;
  padding: 30px 15px;
  position: relative;
}

.blend {
  padding: 80px;
  position: absolute;
  height: 80px;
  top: -160px;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(red(@bg-light), green(@bg-light), blue(@bg-light),100) 0%,rgba(red(@bg-light), green(@bg-light), blue(@bg-light),0) 100%);
  .flip-vertical;
}

.work,
.about {
  .footer;
}

.home {
  display: none;
}

.contact {
  .footer;
  bottom: 0;
}

.copyright {
  vertical-align: super;
}

.devicon-react-plain-wordmark {
  vertical-align: bottom;
}

.footer-text {
  position: absolute;
  font-size: 12px;
  left: 15px;
  top: 20px;
  vertical-align: sub;
}

.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv;
  filter: flipv;
}