@import '../variables.less';
@import 'burger.less';
@import 'menu.less';

.logo {
  right: 0;
  left: 0;
  z-index: 3;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .65);
  width: 140px;

  @media(@tablet) {
    padding: 20px;
  }

  &.home {
    display: none;
    top: 30%;
    padding: 20px;
    @media(@tablet) {
      top: 15%;
    }
  }

  &.contact {
    display: none;

    @media(min-width: 1024px) {
      top: 25px;
      padding: 10px;
      width: 80px;
    }
  }

  &.about,
  &.work {
    display: none;
  }
}

