@import '../variables.less';

.items {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: @font-helv-neue;

  @media(@tablet) {
    width: 85%;
  }
}

.item {
  display: inline-block;
  vertical-align: top;
  padding: 40px;
  text-align: center;
  @media(@tablet) {
    height: 400px;
  }

}

.content {
  position: relative;
  height: 100%;
  width: 300px;
  padding-bottom: 40px;

  @media(@tablet) {
    padding-bottom: 20px;
  }
}

.links {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
}

.link {
  display: inline-block;
  margin-left: 15px;

  @media(@tablet) {
    margin-left: 20px;
  }

  span {
    font-size: 32px;

    @media(@tablet) {
      font-size: 29px;
    }
  }

  a {
    color: @tx-secondary;
  }
}

.name {
  font-size: 26px;
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  text-align: justify;
}