@import '../variables.less';

.items {
  display: block;
  width: 100%;
  text-align: center;
  font-family: @font-helv-neue;
}

.item {
  vertical-align: top;
  margin: 40px;
  padding: 0;
  display: inline-block;
  text-align: center;
}

.name {
  font-size: 26px;
  max-width: 300px;
  margin-bottom: 10px;
}

.desc {
  max-width: 300px;
  font-size: 18px;
  text-align: justify;
}

.links {
  text-align: right;
  margin-top: 15px;
}

.link {
  display: inline-block;
  margin-right: 15px;
  span {
    font-size: 20px;
  }
  a {
    color: @tx-primary;
  }
}