.nav {
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #f2f2f3;
}

.sections {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.ul {
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 12.5px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1024px) {
  .ul {
    top: 22px;
  }
}

.li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 90px;
  font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 374px) {
  width: 102px;
}

@media (min-width: 1024px) {
  .li {
    width: 130px;
  }
}

.li a {
  color: #212121;
  transition: all 0.3s ease;
}

.active {
  color: #808080;
}

.li span {
  font-size: 24px;
}


.name {
  font-size: 12px;
}

@media (min-width: 1024px) {
  .li span {
    display: none;
  }
  .name {
    font-size: 16px;
  }
}
