
#rza                 { padding-top: 15px; }
.section-title       { text-transform: uppercase; }
ul                   { padding-left: 0; }
li                   { list-style-type: none; }

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #5FA3C0;
  margin-bottom: 60px;
}

a,
p,
h6,
h5,
h4,
h3,
h2,
h1 {
  font-family: $primaryserif;
  font-weight: 500;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.img-scale {
  width: 100%;
  height: auto;
  display: block;
}


.header-subhead {
  background-color: $black;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
  margin-bottom: 0;

  @media (min-width: $xs) {
  }

  @media (min-width: $sm) {
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
  }
}