@import "../global/variables.less";
@import "../global/mixins.less";
@import "../global/reset.less";
@import "../global/base.less";
@import "../global/fonts/fonts.less";
@import "../components/icons.less";


  // overflow: hidden;
.home {
  overflow: hidden;
  .site-header {
    height: 170px;
    .site-logo {
      right: 0;
      left: 0;
      padding: 20px;
      width: 140px;
      background-color: fade(@bg-main, 70);
      top: 25px;
      @media(@tablet) {
        top: 15%;
      }
    }
  }
  .site-nav {
    color: @bg-main;
  }

  .site-headline {
    position: absolute;
    top: 45%;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 3;
    background-color: fade(@bg-light, 60);
    width: 90%;
    @media(@tablet) {
      width: 300px;
    }
    .site-headline__name,
    .site-headline__desc {
      margin-top: 0;
      margin-bottom: 0;
      font-family: @font-sans;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .site-footer {
    display: none;
  }
}