@import "../global/variables.less";
@import "../global/mixins.less";
@import "../global/reset.less";
@import "../global/base.less";
@import "../global/fonts/fonts.less";
@import "../components/icons.less";
@import "../layout/footer.less";


.work {
  .site-header {
    @media(@tablet) {
      position: absolute;
    }
  }
  .site-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    right: auto;
    background-color: fade(@bg-main, 70);
  }
  .site-nav {
    opacity: 0.5;
    color: @tx-main;
    background-color: @bg-main;
    border-radius: 8px;
    &:hover {
      opacity: 1;
      color: @color-accent;
    }
  }
  .site-logo__image.spin {
    .rotate-clockwise(0.750s);
  }
}