{
  "presets": [
    "es2015-loose",
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-jsx",
    "transform-react-jsx",
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}