{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "destructuring": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 1,
    "eqeqeq": 1,
    "global-strict": 0,
    "no-console": 0,
    "no-extra-semi": 1,
    "no-trailing-spaces": [
      1, { "skipBlankLines": true }
    ],
    "no-debugger": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "no-unreachable": 1,
    "semi": 1,
    "quotes": [1, "single"]
  }
}