<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="assets/img/ev-winter-yellow-200.jpg">
	<link rel="stylesheet" href="assets/css/styles.css">
	<link rel="stylesheet" href="assets/css/lib/normalize.css">
	<link rel="stylesheet" href="assets/css/lib/skeleton.css">
	<link rel="stylesheet" href="assets/css/lib/bootstrap.css">
	<link rel="stylesheet" href="assets/css/lib/bootstrap-theme.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>
	<title>Evan Turner</title>
</head>
<body>

<div class="container" id="wrapper">
	<div class="row" id="navbar"></div>
		<div class="row" id="portfolio">
			<div class="one column alpha" id="projects"></div>
			<div class="ten columns omega offset-by-one" id="project-summary"></div>
		</div>	
		<div class="row" id="landing">
			<div class="six columns alpha" id="avatar"></div>
			<div class="six columns omega" id="bio"></div>
		</div>
		<div class="row">
			<div class="six columns" id="contact"></div>
			<div class="six columns" id="stack"></div>
		</div>
	</div>
</div>

<script type="text/template" id="navbar-template">
	<div class="three columns">
		<a class="button button-default u-full-width" id="portfolio-button" href="#">&#8645; Portfolio</a>
	</div>
</script>
<script type="text/template" id="projects-template">
	<h6>
		<strong>PROJECTS</strong>
	</h6>
	<ul>
		<li class="project-tab">
			<a class="button button-default u-full-width" id="button-1" href="#">1</a>
			</li>
		<li class="project-tab">
			<a class="button button-default u-full-width" id="button-2" href="#">2</a>
		</li>
		<li class="project-tab">
			<a class="button button-default u-full-width" id="button-3" href="#">3</a>
		</li>
		<li class="project-tab">
			<a class="button button-default u-full-width" id="button-4" href="#">4</a>
		</li>
		<li class="project-tab">
			<a class="button button-default u-full-width" id="button-5" href="#">5</a>
		</li>
	</ul>
</script>

<script type="text/template" id="marshallz-template">
	<div class="row">
		<div class="twelve columns">
			  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= carousel1 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel2 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel3 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel4 %>">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 

			<p class="description"><%= summary %></p>
		</div>
	</div>
	<div class="row">		
		<div class="twelve columns">
			<p><%= stack %></p>
		</div>
	</div>
</script>


<script type="text/template" id="alculator-template">
	<div class="row">
		<div class="twelve columns">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= carousel1 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel2 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel3 %>">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
	<p class="description"><%= summary %></p>
		</div>
	</div>
	<div class="row">		
		<div class="twelve columns">
			<p><%= stack %></p>
		</div>
	</div>
</script>

<script type="text/template" id="hangman-template">
	<div class="row"> 
		<div class="twelve columns">
			  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= carousel1 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel2 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel3 %>">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="<%= carousel4 %>">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
 
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 
			<p class="description"><%= summary %></p>
		</div>
	</div>
	<div class="row">		
		<div class="twelve columns">
		<a taret="_blank" class="button button-primary" id="hangman-site-button" href="https://hangman-node.herokuapp.com/">OFFICAL SITE</a>
		<p><%= stack %></p>
		</div>
	</div>
</script>

<script type="text/template" id="ttt-template">
	<div class="row">
		<div class="twelve columns">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  			<div class="carousel-inner">
    			<div class="item active">
      			<img src="<%= image %>">
    			</div>
 			 </div>
  			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left"></span>
  			</a>
  			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right"></span>
  			</a>
			</div>
			<p class="description"><%= summary %></p>
		</div>
	</div>
	<div class="row">		
		<div class="twelve columns">
			<p><%= stack %></p>
		</div>
	</div>
</script>

<script type="text/template" id="ramen-template">
	<div class="row">
		<div class="twelve columns">
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  		<!-- Wrapper for slides -->
  			<div class="carousel-inner">
    			<div class="item active">
      			<img src="<%= image %>">
    			</div>
 			 </div>
		  <!-- Controls -->
  			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left"></span>
  			</a>
  			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    		<span class="glyphicon glyphicon-chevron-right"></span>
  			</a>
			</div> <!-- Carousel -->
			<p class="description"><%= summary %></p>
		</div>
	</div>
	<div class="row">		
		<div class="twelve columns">
			<a taret="_blank" class="button button-primary" id="ramenbuffet-site-button" href="<%= url %>">OFFICAL SITE</a>
			<p><%= stack %></p>
		</div>
	</div>
</script>





<script type="text/template" id="avatar-template">
	<h6>
		<strong>EVAN TURNER</strong>
	</h6>
	<img src="assets/img/ev-winter-yellow.jpg" class="avatar">
</script>

<script type="text/template" id="contact-template">
	<h6>
		<strong>CONTACT</strong>
	</h6>
		<div class="row">
			<div class="six columns alpha project-tab">
				<a class="button u-full-width" target="_blank" href="mailto:evturn@gmail.com">Email</a>
		</div>
			<div class="six columns omega project-tab">
				<pre><code>evturn@gmail.com</pre></code>
			</div>
		</div>
		<div class="row">
			<div class="six columns alpha project-tab">
				<a class="button u-full-width" target="_blank" href="http://www.linkedin.com/in/evturn/">Linkedin</a>
			</div>
			<div class="six columns omega project-tab">
				<a class="button u-full-width" target="_blank" href="http://github.com/evturn">Github</a>
			</div>
		</div>
	
</script>

<script type="text/template" id="bio-template">
	<h6>
		<strong>WEB DEVELOPER</strong>
	</h6>
	<p class="bio">Although I initially built apps almost exclusively in a Rails environment, my attraction to the world of isomorphic JavaScript has heavily strengthened the application logic I write. Given my familiarity with the MVC architectural pattern Rails implements, I find employing libraries like Backbone.js on the client side a pertinent fit. As the web continues to evolve in the direction of single page applications, exploring solutions and strategies to building these rich front-end apps is not only essential but defines an exciting time for design.
		</p> 
		<p class="bio"><strike>Evan has built applications since the age of 3. He also invented the internet</strike><sup><a id="footnote" href="#">[1]</a></sup></p>

	<div class="row twelve columns footnote">
		<p><em>Evan did not invent the internet</em><sup> 1</sub></p>
		<br class='clear'>
	</div>
	<br class='clear'>
</script>

<script type="text/template" id="stack-template">
	<h6>
		<strong>FULL STACK DEVELOPMENT</strong>
	</h6>
	<table>
		<tbody>
			<tr>
				<td><img class="code-logo" src="assets/img/node.png">Node.js</td>
				<td><img class="code-logo" src="assets/img/express.png">Express.js</td>
				<td><img class="code-logo" src="assets/img/backbone.png">Backbone</td>
				<td><img class="code-logo" src="assets/img/mongodb.png">MongoDB</td>
				<td><img class="code-logo" src="assets/img/handlebars.png">Handlebars</td>
			</tr>
			<tr>
				<td><img class="code-logo" src="assets/img/rails.png">Rails</td>
				<td><img class="code-logo" src="assets/img/sinatra.png">Sinatra</td>
				<td><img class="code-logo" src="assets/img/bootstrap.png">Bootstrap</td>
				<td><img class="code-logo" src="assets/img/postgresql.png">Postgresql</td>
				<td><img class="code-logo" src="assets/img/git.png">Git</td>
			</tr>	
		</tbody>
	</table>
</script>

	<script src="assets/js/lib/jquery.js"></script>
	<script src="assets/js/lib/handlebars.js"></script>
	<script src="assets/js/lib/underscore.js"></script>
	<script src="assets/js/lib/backbone.js"></script>
	<script src="assets/js/lib/bootstrap.js"></script>
	<script src="assets/js/models/summary.js"></script>
	<script src="assets/js/views/portfolioView.js"></script>
	<script src="assets/js/views/appView.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>