@import url(http://fonts.googleapis.com/css?family=Raleway:700,400,100,200,300,500,600);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

$primarysans:        Raleway;
$primaryserif:       Source Sans Pro;

$white:              #ffffff;

$marshallzgrey:      #D0D0D0;

$green:              #94d500;
$greenhover:         #a8e205;
$orange:             #ff8f12;
$orangehover:        #ffa750;
$red:                #f6323e;
$redhover:           #fc5e6e;
$blue:               #0d3052;
$bluehover:          #14365e;

$black:              #231f20;
$black90:            #404041;
$black70:            #6d6e71;
$black50:            #929497;
$black20:            #d0d2d3;
$black10:            #e6e7e8;
$black5:             #f1f1f2;

$primarygreylight:   #f8f8f8;
$primarygreymed:     #bbbdbf;
$primarygreydark:    #6c6d6f;

$primarydark:        #15365d;
$primarydarkhover:   #174e7a;
$primarylight:       #00b2e2;
$primarylighthover:  #00cfff;
$primarygrey:        #c9c8c7;
$primarygreyhover:   #dddddd;

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url('../img/brickwall.png');
  margin-bottom: 60px;
}

body, h6, h5, h4, h3, h2, h1, p, a {
  font-family: $primaryserif;
  font-weight: 500;
  background-color: transparent;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

ul { padding-left: 0; }
li { list-style-type: none; }

.section-title {
  text-transform: uppercase;
}

.header-subhead {
  background-color: $black;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
  @media (min-width: $screen-xxs) {
    margin-bottom: 0;
    padding-left: 0;
  }
  @media (min-width: $screen-md) {
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
  }
}

.avatar {
  border-radius: 20%;
  max-width: 45%;
  text-align: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  @include transition(all 0.3s ease);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .footer-container {
    z-index: 1;
    text-align: center;
    color: $black50;
  }
}


img.img-responsive.center-block {
  width: 100%;
  height: auto;
}
