.ev-navbar {
  @include img-shadow;
  background-color: $white;
  overflow: auto;

  .nav-items {
    padding: 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media (min-width: $sm) {
      text-align: right;
    }
  }

  .nav-item {
    text-align: left;
    display: inline-block;
    margin-left: 10px;
  }

  .nav-active {
    @include nav-active($primary, $white);
  }

  .nav-text {
    font-family: $primarysans;
    text-transform: uppercase;
  }

  .nav-link {
    @include transition(all 0.2s ease);
    text-decoration: none;

  }

  .nav-text {
    @include ease-in-out;
    line-height: 1.4em;
    margin-bottom: 0;
    font-size: 14px;
    @media (min-width: $sm) {
      font-size: 24px;

    }
  }


}