.thumbnails {
  @include transition(all 0.3s ease);
  margin-bottom: 80px;
  margin-top: 50px;
  overflow: auto;

  .thumbnails-wrapper {
    height: 100%;
    width: 100%;
    text-align: left;
  }

  .thumbnail-item {
    @include transition(0.3s);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin:0;

    display: inline-block;
    .thumbnail-inner {

    }
    @media (min-width: $sm) {

    }

    cursor: pointer;

     &:hover {
    }

    .img-scale {
      border-radius: 3px;
    }
  }
}