.thumbnails-container {
  @include transition(all 0.3s ease);
  margin-bottom: 80px;
  overflow: auto;
  margin-top: 0;
  .thumbnail-item {
    @include ease-in-out;
    cursor: pointer;

     &:hover {
    }

    img {
      border-radius: 3px;
    }

  }

  @media (min-width: $sm) {
    margin-top: 30px;
  }
  .thumbnail-item {
    padding-top: 15px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    width: 32%;
    display: inline-block;
    @media (min-width: $sm) {
      width: 24%;
    }
  }
}

.grid {
  margin: 0;
  padding: 3em 0 0 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.grid figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  cursor: pointer;

  @include transition(all 0.3s ease);
  &:hover {
    background: $black;
    @include ease-in-out;

  }
}

.grid figure img {
  position: relative;
  display: block;
  opacity: 0.9;
}

.grid figure figcaption {
  padding: 2em;
  text-transform: uppercase;
  font-size: 1.25em;
}

.grid figure figcaption,
.grid figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:hover {
    background: $black;
  }
}

.grid figure a {
  z-index: 1000;
  font-size: 0;
  opacity: 1;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 12px;
}

figure.effect-ev:hover img {
  opacity: 0.2;
}

figure.effect-ev figcaption::after {
  position: absolute;
  right: 30px;
  bottom: 30px;
  left: 30px;
  height: 40px;
  height: 40px;
  content: '';
}

figure.effect-ev:hover figcaption::after {
  opacity: 1;
}

figure.effect-ev figcaption {
  text-align: left;
}

figure.effect-ev p {
  position: absolute;
  right: 60px;
  bottom: 60px;
  left: 60px;
  opacity: 0;
  color: $white;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
}

figure.effect-ev:hover p {
  opacity: 1;
  z-index: 1001;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}