
.carousel-row {
  background-color: $primarygreymed;
  color: $white;
  border-radius: 3px;
  @include transition(all 1s ease);
  @include box-shadow(0px 0px 22px -4px rgba(0,0,0,0.75));
}
.carousel-image-container {
  padding-left: 0;
  padding-right: 0;
}
.carousel-panel {
  font-family: $primaryserif;
  .btn-container {
    margin-top: 10px;
  }
  .fa { font-weight: bold; }
  .project-text {
    padding: 15px;
    p {
      font-size: 15px;
      padding-top: 10px;
      font-weight: normal;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $primarylight;
      font-family: $primaryserif;
      &:hover {
        color: $primarylighthover;
      }
    }
  }

  @media (min-width: $screen-xxs) {
    .project-title {
      text-transform: uppercase;
      color: $white;
      background-color: $black;
      text-align: center;
    }
  }
  @media (min-width: $screen-xs) {
    padding-top: 7%;
  }
  @media (min-width: $screen-sm) {
    padding-top: 0px;
  }
  @media (min-width: $screen-md) {
    padding-top: 7%;
  }
}