.carousel-wrapper {
  @include transition(all 1s ease);
  @include box-shadow(0px 0px 22px -4px rgba(0,0,0,0.75));
  background-color: $black;
  color: $white;
  border-radius: 3px;
}
.carousel-image-container {
  padding: 10px 10px 10px;
  display: inline-block;
  @media (min-width: $md) {
    width: 66%;
  }
}
.carousel-panel {
  display: inline-block;
  font-family: $primaryserif;
  width: 100%;
  vertical-align: top;

  @media (min-width: $md) {
    padding-top: 50px;
    width: 30%;
  }

  @include button($white, $primary, $black10);
  .btn-container {
    margin-top: 10px;
    text-align: center;
  }

  .fa {
    font-weight: bold;
    color: $primary;
  }

  .project-text {
    padding: 15px;

    .section-title {
      font-size: 5vw;
      text-transform: uppercase;
      color: $black;
      background-color: $white;
      text-align: center;
      @media (min-width: $md) {
        font-size: 2vw;
      }
    }

    .meta {
      font-size: 15px;
      padding-top: 10px;
      font-weight: normal;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: $primarylight;
      font-family: $primaryserif;

      &:hover {
        color: $primarylighthover;
      }
    }
  }

  .project-technologies {
    text-align: left;
    padding: 15px;
    @media (min-width: $sm) {
      text-align: center;
    }
    @media (min-width: $md) {
      text-align: left;
    }
    .meta {
      margin-bottom: 15px;
    }
    .technologies-item {
      text-align: center;
      display: inline-block;
      width: 24%;
      @media (min-width: $sm) {
        width: 12%;
      }
      @media (min-width: $md) {
        width: 24%;
      }
      i {
        color: $white;
      }
    }
  }

}