@import url('../../../assets/less/variables.less');

:root {
  position: relative;
  background-color: transparent !important;
  min-height: 100vh;
  height: auto;
}

.root {
  background-color: @bg-matte;
  width: 100vw;
  height: 100vh;
}