@import url('../../../assets/less/variables.less');

.footer {
  position: relative;
  height: 40px;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  color: darken(#cfcfcf, 50);
  font-size: 12px;
}

.text {
  display: block;
  position: relative;
  line-height: 40px;
}