@value global: '../../style.css';

@value tx-gray, bg-matte from global;

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  text-align: center;
  color: tx-gray;
  font-size: 12px;
}

.text {
  display: block;
  position: relative;
  background-color: bg-matte;
  line-height: 40px;
}
