@import url('../../../assets/less/variables.less');

header {
  display: block;
  position: relative;
  background-color: @bg-matte;
  .clearfix();
  z-index: 1000;
}

.nav {
  position: relative;
  height: 65px;

  @media(@tablet) {
    height: 80px;
  }

  .diamond {
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    transition: all 0.3s ease;
    top: 0;
    right: 0;
    left: 0;
    height: 110px;
    width: 140px;
    border-top: 110px solid @bg-matte;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;

    @media(@tablet) {
      height: 160px;
      width: 206px;
      border-top: 160px solid @bg-matte;
      border-left: 206px solid transparent;
      border-right: 206px solid transparent;
    }
  }

  .logo {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 15px;
    left: 0;
    right: 0;
    background-color: @bg-light;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1200;
    padding: 2px;
    animation-delay: 0.5s;
    transition: all 0.5s ease;

    @media(@tablet) {
      height: 100px;
      width: 100px;

      &.wait,
      &.wait img {
        opacity: 0;
        height: 0;
        width: 0;
        background-color: transparent;
      }
    }

    img {
      background-color: #cfcfcf;
      border-radius: 50%;
      padding: 3px;

      @media(@tablet) {
        transition: all 0.3s ease;
        padding: 10px;
      }
    }
  }
}

.pages {
  display: none;

  @media(@tablet) {
    display: block;
    position: relative;
    .clearfix();
    max-width: 440px;
    margin: 0 auto;
    z-index: 1001;
  }

  .page {
    height: 80px;
    text-transform: uppercase;
    line-height: 80px;

    &:first-child {
      float: left;
    }

    &:nth-child(2)  {
      float: right;
    }

    a {
      color: @tx-light;
    }
  }
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 21px;
  line-height: 65px;
  color: @tx-light;
  height: 65px;
  width:65px;
  text-align: center;

  @media(@tablet) {
    display: none;
  }
}

.sub-nav {
  position: relative;
  width: 100%;
  height: 38px;
  background-color: @bg-accent;
}
