@value global: '../../style.css';

@value tablet from global;
@value bg-matte, borderGray, tx-light, bg-accent from global;
@value clearfix: clearfix from global;
@value tablet from global;

.root {
  display: block;
  position: absolute;
  composes: clearfix;
  background-color: bg-matte;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
}

.subnav {
  position: relative;
  width: 100%;
  height: 38px;
  background-color: #ffffff;
  border-bottom: 1px solid borderGray;
}

.nav {
  position: relative;
  height: 65px;
}

@media tablet  {
  .nav {
    height: 80px;
  }
}


.pages {
  display: none;
}

@media tablet {
  .pages {
    display: block;
    position: relative;
    composes: clearfix;
    max-width: 440px;
    margin: 0 auto;
    z-index: 1001;
  }
}

.page {
  height: 80px;
  text-transform: uppercase;
  line-height: 80px;
}

.page:first-child {
  float: left;
}

.page:nth-child(2)  {
  float: right;
}

.page a {
  color: tx-light;
}

.diamond {
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  transition: all 0.3s ease;
  top: 0;
  right: 0;
  left: 0;
  height: 110px;
  width: 140px;
  border-top: 110px solid bg-matte;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
}

@media tablet {
  .diamond {
    height: 160px;
    width: 206px;
    border-top: 160px solid bg-matte;
    border-left: 206px solid transparent;
    border-right: 206px solid transparent;
  }
}

