<div class="image-container animated fadeInUp">
  <img class="img-scale" src="public/dist/img/site/tile.png">
</div>

<div class="bio">
  <div class="bio__paragraph">As the web continues to evolve in the direction of single page applications, exploring solutions and strategies for building these rich front-end apps is not only essential but provides an exciting opportunity for design innovation. As a Developer, I focus on building responsive web applications that optimize scalability through RESTful APIs.</div>
  <div class="bio__paragraph">While I developing in a Node.js runtime environment, having studied Rails and the MVC architectural pattern the framework implements, I find integrating libraries like Backbone.js that share the same approach to data structure heavily strengthens the application logic I write.</div>
</div>

<div class="about-info">
  <div class="about-tech">
    <div class="about-info__header">Notable Tools</div>
    <ul class="about-tech__list list-icons">
      {{#each tech}}
        <li class="about-tech__item list-item-icon">
          <div class="about-tech__item-icon list-item-icon__icon"><span class="icon {{icon}}"></span></div>
          <div class="about-tech__item-name list-item-icon__caption">{{technology}}</div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="about-stats">
    <div class="about-info__header">Statistics</div>
    <ul class="about-stats__list list-icons">
      {{#each stats}}
      <li class="about-stats__item list-item-icon">
        <div class="about-stats__item-icon list-item-icon__icon stat-count">{{number}}</div>
        <div class="about-stats__item-name list-item-icon__caption">{{text}}</div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>