<div class="container ev-navbar">
  <div class="inner">
    <div class="header-container">
      <a href="/"><img src="public/dist/img/site/ev-av.png" class="img-scale"></a>
      <div class="image-overlay"></div>
    </div>
    <div class="burger-container">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</div>
{{log this}}
<div class="container contact animated fadeIn">
  <div class="image-container">
    <img class="img-scale" src="public/dist/img/site/city-invert.png">
  </div>
  <div class="wrapper">
    <div class="links-container">
      <ul class="link-items">
        {{#each links}}
          <li class="link-item">
            <a href="{{url}}" target="_blank"><i class="{{icon}}"></i></a>
          </li>
        {{/each}}
      </div>
    </div>
  </div>
</div>