<div class="image-container animated fadeInUp"></div>
  <div class="links-container">
    <ul class="link-items list-icons">
      {{#each links}}
        <li class="link-item list-item-icon">
          <div class="list-item-icon__icon"><a href="{{url}}" target="_blank"><i class="icon {{icon}}"></i></a></div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>