<div id="preloader">
  <div id="spinner"></div>
  <img class="preloader" src="public/dist/img/site/evturn.jpg">
</div>
<video id="ev-vid" poster="public/dist/img/site/vid-poster.gif" type="video/mp4"></video>
<div class="site-headline">
  <h3 class="site-headline__name">Evan Turner</h3>
  <h3 class="site-headline__desc">Web Developer</h3>
</div>
