<div id="preloader">
  <div id="spinner"></div>
  <img class="preloader" src="public/dist/img/site/evturn.jpg">
</div>
<div class="index">
  <section class="index-header">
    <video id="ev-vid" poster="public/dist/img/site/vid-poster.gif" type="video/mp4"></video>
    <div class="carousel-index"></div>
    <div class="curtain"></div>
    <div class="container ev-navbar">
      <div class="inner">
        <div class="header-container">
          <a href="/#work"><img src="public/dist/img/site/ev-av.png" class="img-scale"></a>
          <div class="image-overlay"></div>
        </div>
        <div class="headline-container">
          <h3 class="subhead">Evan Turner</h3>
          <h3 class="subhead">Web Developer</h3>
        </div>
        <div class="burger-container">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </section>
</div>