<div class="container ev-navbar">
  <div class="inner">
    <div class="header-container">
      <a href="/"><img src="public/dist/img/site/ev-av.png" class="img-scale" id="carousel-logo"></a>
      <div class="image-overlay"></div>
      <div id="carousel-preloader">
        <div id="carousel-spinner"></div>
      </div>
    </div>
    <div class="burger-container">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</div>