<div class="site-logo"><img class="site-logo__image img-scale" src="public/dist/img/site/ev-av.png"></div>
<div class="site-nav site-nav__trigger"><span class="icon fa fa-bars"></span></div>
<nav class="site-menu">
  <div class="site-menu__header">
    <div class="site-menu__close"><span class="icon fa fa-times"></span></div>
  </div>
  <ul class="site-menu__list">
    <li class="site-menu__item"><h4><a class="nav-link" href="/">Home</a></h4></li>
    <li class="site-menu__item"><h4><a class="nav-link" href="#work">Work</a></h4></li>
    <li class="site-menu__item"><h4><a class="nav-link" href="#about">About</a></h4></li>
    <li class="site-menu__item"><h4><a class="nav-link" href="#contact">Contact</a></h4></li>
  </ul>
  </div>
</nav>