@import '../variables.less';

.root {
  .clearfix();
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  overflow-y: hidden;
  .fade-in;

  @media(@tablet) {
    background-position-y: 40%;
    background-position-x: 0%;
  }
}

.icons {
  .flex();
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 100px;
  right: 0;
  left: 0;
  height: 80%;
  max-width: 1000px;

  @media(@tablet) {
    top: 35%;
  }
}

.item {
  color: @tx-dark;
  display: block;
  position: relative;
  transition: all 0.1s ease;
  width: 100%;

  @media(@tablet) {
    display: inline-block;
    width: 25%;
  }

  a {
    position: relative;
    color: @tx-dark;
  }

  span {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 4em;
    border-radius: 50%;
    background-color: @bg-light;

    @media(@tablet) {
      width: 150px;
      height: 150px;
      line-height: 150px;
      font-size: 6em;

      &:hover {
        background-color: @bg-light;
        color: @tx-primary;
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}