@value global: '../../../style.css';

@value tablet from global;
@value flex from global;

.root {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ul {
  position: relative;
  composes: flex;
  max-width: 1200px;
  transition: all 0.3s ease;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.ul .active {
  transform: scale(1);
}

.ul .active .overlay {
  opacity: 0.3;
  box-shadow: none;
}

.thumb {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
  transition: 0.3s;
  transform: scale(0.93);
  width: 33.333333333%;
}

.thumb img {
  border-radius: 4px;
}

.thumb.active {
  transform: scale(1);
}

.overlay {
  box-shadow: inset 0px -276px 158px -122px rgba(0, 0, 0, 0.7);
  transition: all 0.7s ease;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
