.site-footer {
 color: @tx-main;
 background-color: @bg-light;
 padding: 30px 15px;
 position: relative;
 .site-footer__text {
  font-size: 12px;
  position: absolute;
  left: 15px;
  top: 20px;
  vertical-align: sub;
  .site-footer__copyright {
    vertical-align: super;
  }
  .icon {
    vertical-align: bottom;
  }
 }
}