@import "../global/variables.less";
@import "../global/mixins.less";
@import "../global/reset.less";
@import "../global/base.less";
@import "../global/fonts/fonts.less";

.site-footer {
 color: @tx-dark;
 background-color: @bg-light;
 padding: 30px 15px;
 position: relative;
 .site-footer__text {
  font-size: 12px;
  position: absolute;
  left: 15px;
  top: 20px;
  vertical-align: sub;
  .site-footer__copyright {
    vertical-align: super;
  }
  .icon {
    vertical-align: bottom;
  }
 }
}