@import "../global/mixins.less";
@import "../global/reset.less";


.site-container {
  .clearfix();
  width: 100%;
}

.site-content {
  .clearfix();
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}