.work {
  .clearfix;
  position: relative;
  height: 100%;
}

.project-carousel {
  width: 100%;
  height: 200px;
  overflow: hidden;
  @media(@tablet-portrait) {
    float: right;
    width: 70%;
    height: 300px;
    margin: 15px;
    border: 1px solid fade(@tx-accent, 60);
  }
  @media(@tablet) {
    height: 450px;
  }
}

.project-thumbs {
  width: 100%;
  .tile {
    width: 12.5%;
    transition: 0.3s;
    &:hover {
      @media(min-width: 1024px) {
        transform: scale(1.05);
      }
    }
  }
}

.project-info {
  width: 100%;
}

.project-links {
  width: 100%;
}

.project-tech {
  width: 100%;
}

// // Details - Info
.project-info {
  .clearfix;
  position: relative;
}

.project-title {
  margin: 15px;
  text-transform: uppercase;
  font-size: 22px;
}

.project-header {
  text-transform: uppercase;
  font-size: 26px;
  margin: 25px 15px;
}

.project-description {
  margin: 15px;
  line-height: 24px;
}

.project-tech {
  .clearfix;
  position: relative;
}

.project-links ul {
  margin: 15px;
}