@fa-font-path:        "../../fonts";
@fa-font-size-base:   14px;
@fa-line-height-base: 1;
@fa-css-prefix:       fa;
@fa-version:          "4.4.0";

@fa-var-bars: "\f0c9";

@fa-var-github-square: "\f092";
@fa-var-linkedin-square: "\f08c";
@fa-var-twitter: "\f099";
@fa-var-envelope: "\f0e0";

@fa-var-laptop: "\f109";
@fa-var-mobile: "\f10b";
@fa-var-code-fork: "\f126";

@fa-var-apple: "\f179";
@fa-var-chrome: "\f268";
@fa-var-circle-o: "\f10c";

@fa-var-github: "\f09b";

@font-face {
  font-family: 'FontAwesome';
  src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
  src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
    url('@{fa-font-path}/fontawesome-webfont.woff2?v=@{fa-version}') format('woff2'),
    url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
    url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
    url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
//  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}

.@{fa-css-prefix} {
  display: inline-block;
  font: normal normal normal @fa-font-size-base/@fa-line-height-base FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.@{fa-css-prefix}-bars:before { content: @fa-var-bars; }

.@{fa-css-prefix}-github-square:before { content: @fa-var-github-square; }
.@{fa-css-prefix}-linkedin-square:before { content: @fa-var-linkedin-square; }
.@{fa-css-prefix}-twitter:before { content: @fa-var-twitter; }
.@{fa-css-prefix}-envelope:before { content: @fa-var-envelope; }

.@{fa-css-prefix}-laptop:before { content: @fa-var-laptop; }
.@{fa-css-prefix}-mobile:before { content: @fa-var-mobile; }
.@{fa-css-prefix}-code-fork:before { content: @fa-var-code-fork; }

.@{fa-css-prefix}-apple:before { content: @fa-var-apple; }
.@{fa-css-prefix}-chrome:before { content: @fa-var-chrome; }
.@{fa-css-prefix}-circle-o:before { content: @fa-var-circle-o; }

.@{fa-css-prefix}-github:before { content: @fa-var-github; }