.root {
  position: fixed;
  right: -320px;
  top: 0;
  bottom: 0;
  left: auto;
  z-index: 5000;
  height: 100%;
  background-color: #212121;
  box-shadow: -50px 40px 70px 0px rgba(50, 50, 50, 0.5);
  transition: 0.4s;
}

.root.open {
  right: 0;
}

.corner {
  position: absolute;
  border-right: 81px solid #212121;
  border-top: 430px solid transparent;
  border-bottom: 430px solid transparent;
  top: 0;
  bottom: 0;
  left: -80px;
}

.routes {
  width: 220px;
}

.route {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 75%;
  text-align: right;
  border-top: 1px solid rgba(207, 207, 207, 0.15);
  min-height: 60px;
}

.name {
  text-transform: uppercase;
  font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 60px;
  height: 60px;
  margin: auto;
}

.parentName {
  composes: name;
  height: 50px;
}

.childName {
  composes: name;
  line-height: 40px;
  height: 40px;
  font-size: 13px;
}

.childRoutes {
  padding-bottom: 10px;
  border: none;
}

.childRoute {
  composes: route;
  border: none;
  min-height: 40px;
  width: 100%;
}

.route span {
  position: absolute;
  top: 0;
  right: 0;
  color: #cfcfcf;
  font-size: 21px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  color: #FFFFFF;
}

.close {
  composes: route;
}

.close img {
  position: absolute;
  top: 10px;
  right: 0px;
  height: 40px;
  width: 40px;
}

.routes > .route:last-child {
  border-bottom: 1px solid rgba(207, 207, 207, 0.15);
}

.route a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  color: #FFFFFF;
}

.burger {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  font-size: 21px;
  line-height: 65px;
  color: #FFFFFF;
  height: 65px;
  width:65px;
  text-align: center;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}
