.w {
  position: relative;
  margin: 2em auto;
  right: 0;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.wave {
  display: inline-block;
  animation-fill-mode: both;
  height: 35px;
  width: 4px;
  margin: 2px;
  border-radius: 2px;
}

.w .wave {
  background-color: #fff;
}

.w0 {
  composes: wave;
  animation: scaley 1s 0.1s infinite cubic-bezier(.2,.68,.18,1.08);
}

.w1 {
  composes: wave;
  animation: scaley 1s 0.2s infinite cubic-bezier(.2,.68,.18,1.08);
}

.w2 {
  composes: wave;
  animation: scaley 1s 0.30000000000000004s infinite cubic-bezier(.2,.68,.18,1.08);
}

.w3 {
  composes: wave;
  animation: scaley 1s 0.4s infinite cubic-bezier(.2,.68,.18,1.08);
}

.w4 {
  composes: wave;
  animation: scaley 1s 0.5s infinite cubic-bezier(.2,.68,.18,1.08);
}

@keyframes scaley {
  0% {
    transform: scaleY(1.0);
  }
  50% {
    transform: scaleY(0.4);
  }
  100% {
    transform: scaleY(1.0);
  }
}

.fade {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.kill {
  display: none;
}
