.root {
  background-color: #FFFFFF;
}

.header {
  display: block;
  position: relative;
  z-index: 2000;
  width: 100%;
}

.header:after {
  display: block;
  content: '';
  clear: both;
}

.header.absolute {
  position: absolute;
}

.navbar {
  position: relative;
  height: 100px;
}

@media (min-width: 1024px)  {
  .navbar {
    height: 140px;
  }
}

.links {
  display: none;
}

@media (min-width: 1024px) {
  .links {
    display: block;
    position: relative;
    max-width: 440px;
    margin: 0 auto;
    z-index: 1010;
  }
  .links:after {
    display: block;
    content: '';
    clear: both;
  }
}

.link {
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  line-height: 80px;
  top: 10px;
}

.link:first-child {
  left: 0;
}

.link:nth-child(2)  {
  right: 0;
}

.link a {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}


.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  text-align: center;
  color: #CFCFCF;
  font-size: 12px;
}

.text {
  display: block;
  position: relative;
  background-color: #212121;
  line-height: 40px;
}
