.page-contact {
  .site-header {
    @media(@tablet) {
      position: absolute;
    }
  }
  .site-logo {
    right: 0;
    left: 0;
    top: 15px;
    background-color: fade(@bg-main, 70);
  }
  .image-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url('../img/site/city-invert.png');
    background-position-y: 50%;
    background-position-x: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    .clearfix();
    border-bottom: 1px solid fade(@color-accent, 60);
    @media(@tablet) {
      height: 600px;
    }
  }
  .link-items {
    padding-top: 25px;
    text-align: center;
  }
  .link-item {
    display: inline-block;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
    .list-item-icon__icon {
      margin-left: 0;
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-size: 3em;
      .transition(all 0.1s ease);
      a {
        color: @tx-main;
      }
    }
  }
}


