@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,400,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

@font-face {
  font-family: 'evcon';
  src: url(/fonts/evcon.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'devicon';
  src: url(/fonts/devicon.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-serif {             font-family: 'Raleway', sans-serif; }
.font-sans {              font-family: 'Source Sans Pro', sans; }
.font-size-icon {         font-size: 14px; }
.font-size-evcon {        font-size: 42px; }

.tx-accent {              color: #5FA3C0; }
.bg-accent {              background-color: #5FA3C0; }
.tx-light {               color: #ffffff; }
.bg-light {               background-color: #ffffff; }
.tx-dark {                color: #231f20; }
.bg-dark {                background-color: #231f20; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.li-center {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}


.item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}

.item-25 {
  composes: item;
  width: 25%;
}

.item-33 {
  composes: item;
  width: 33.3333333333%;
}

.item-50 {
  composes: item;
  width: 50%;
}

.icon {
  height: 65px;
  margin: 5px;
}

.icon-accent {
  composes: icon;
  composes: bg-accent;
  composes: tx-light;
}

.icon span {
  line-height: 1.5em;
  height: 65px;
  width: 65px;
}

.caption {
  composes: bg-light;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 12px;
}

.flip-vertical {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  -ms-filter: flipv; /*IE*/
  filter: flipv;
}

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}