@font-face {
  font-family: 'evcon';
  src: url('../../fonts/evcon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="evcon-"],
[class*=" evcon-"] {
  font-family: 'evcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 3em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.evcon-webpack:before {
  content: "\e600";
}
.evcon-babel:before {
  content: "\e601";
}
.evcon-express:before {
  content: "\e602";
}
.evcon-handlebars:before {
  content: "\e603";
}