@value global '../../style.css';

@value tablet from global;
@value font-helv-neue from global;

.items {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: font-helv-neue;
}

.item {
  width: 200px;
  display: block;
  margin: 40px auto;
}

@media tablet {
  .item {
    display: inline-block;
    margin: 40px;
  }
}

.name {
  text-transform: uppercase;
  font-size: 26px;
  max-width: 300px;
  margin-bottom: 10px;
}
