.project-technologies {

    @media (min-width: @md) {
      position: absolute;
      bottom: 30px;
      left: 10px;
      right: 10px;
      width: 100%;
    }

    .meta {
      text-align: left;
      margin-bottom: 10px;
    }

    i {
      color: @white;
      height: 30px;
      width: 30px;
      font-size: 1.8em;
    }

    .caption {
      font-size: 9px;
    }

    .technologies-item {
      text-align: center;
      display: inline-block;
      width: 12.5%;
      margin: -3px;

      @media (min-width: @md) {
        width: 25%;
        margin-bottom: 10px;
      }
    }
  }