.carousel-panel {
  display: inline-block;
  font-family: @primaryserif;
  vertical-align: top;
  width: 100%;
  position: relative;
  overflow: hidden;
  float: right;
  width: 33.3333333333%;
  height: 417px;
  background-color: black;

  @media (min-width: @md) {
    float: right;
    width: 33.3333333333%;
  }

  .panel-inner {
    padding: 10px;
  }

  .button(@white, @primary, @black10);

  .btn-container {
    text-align: center;
    margin-bottom: 10px;
  }
}