.container.carousel {

  .thumbnails-offset;

}

.carousel-wrapper {
  .transition(all 1s ease);
  .img-shadow;
  color: @white;
  border-radius: 3px;
  background-color: @black;
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;

  @media (min-width: 500px) {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @md) {
    height: 100%;
    width: 100%;
  }
}