.container.carousel {

  .project-links {
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;

    .meta {
      display: inline-block;

      .fa {
        .transition(0.3s);
        margin-left: 10px;
        color: @primary;

        &:hover {
          color: @white;
        }
      }
    }
  }
}