.carousel .carousel-wrapper {
  .transition(all 1s ease);
  .box-shadow(0px 0px 22px -4px rgba(0,0,0,0.75));
  color: @white;
  border-radius: 3px;

  @media (min-width: @md) {
    overflow: auto;
  }

}