/* common */
.lis {
  composes: flex from '../../styles/common.css';
}
.centered {
  composes: li-center from '../../styles/common.css';
}
.fours {
  composes: item-25 from '../../styles/common.css';
}
.dark-text {
  composes: tx-dark from '../../styles/common.css';
}
.dark-bg {
  composes: bg-dark from '../../styles/common.css';
}
.light-bg {
  composes: bg-light from '../../styles/common.css';
}
.accent-tx {
  composes: tx-accent from '../../styles/common.css';
}
.accent-bg {
  composes: bg-accent from '../../styles/common.css';
}

/* list */
.squares {
  composes: lis;
  float: right;
}

.circles {
  composes: lis;
  min-height: 100vh;
  text-align: center;
  padding-top: 20%;
}

/* list item */
.square {
  composes: centered;
}

.circle {
  display: inline-block;
  overflow: auto;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 110px;
  @media(min-width: 600px) {
    composes: fours;
    width: auto;
    height: auto;
  }
}

/* icon */
.square .icon {
  composes: dark-bg;
  transition: 0.1s;
  line-height: 65px;
  height: 65px;
  width: 65px;
  margin: 5px;
  font-size: 27px;
}

.square:hover .icon {
  @media(min-width: 1024px) {
    composes: light-bg;
    border: 1px #cccccc;
  }
}

.circle .icon {
  composes: dark-text;
  display: inline-block;
  transition: all 0.1s ease;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 4em;
  border-radius: 50%;
  background-color: #ffffff;
  @media(min-width: 600px) {
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 7em;
  }
  @media(min-width: 1024px) {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 8em;
  }
}

.circle .icon:hover {
  @media(min-width: 600px) {
    composes: light-bg;
    composes: accent-tx;
    transition: all 0.1s ease;
  }
}

.circle a {
  composes: dark-text;
}

.circle:hover a {
  composes: tx-accent;
}

.square a {
  transition: 0.1s;
  composes: light-tx;
}

.square:hover a {
  @media(min-width: 1024px) {
    composes: accent-tx;
  }
}
