@value tx-primary:             #7C7C87;
@value bg-primary:             #7C7C87;
@value tx-secondary:           #000000;
@value bg-secondary:           #000000;
@value tx-light:               #FFFFFF;
@value bg-light:               #FFFFFF;
@value tx-dark:                #0C0C0D;
@value bg-dark:                #0C0C0D;

@value bg-matte:               #212121;
@value tx-matte:               #212121;

@value bg-accent:              #D20300;
@value tx-accent:              #D20300;

@value tx-gray:                #CFCFCF;
@value bg-gray:                #CFCFCF;

@value tx-dark-gray:           #808080;
@value borderGray:             #696874;
@value borderGrayFade:         rgba(207, 207, 207, 0.15);
@value border-gray-40:         rgba(207, 207, 207, 0.4);

@value bg-accent-80:           rgba(210, 3, 0, 0.8);
@value bg-light-20:            rgba(255, 255, 255, 0.2);
@value bg-light-30:            rgba(255, 255, 255, 0.3);
@value bg-light-70:            rgba(255, 255, 255, 0.7);

@value bg-sections:            #f2f2f3;
@value bgOverlay:              #606970;

@value mobile:                 (min-width: 320px);
@value iphone6:                (min-width: 374px);
@value break:                  (min-width: 600px);
@value tablet-portrait:        (min-width: 769px);
@value tablet:                 (min-width: 1025px);
@value desktop:                (min-width: 1441px);
@value desktop-lg:             (min-width: 1920px);

@value font-railway:           'Raleway', sans-serif;
@value font-mer:               'Merriweather';
@value font-helv:              'Helvetica', Arial, sans-serif;
@value font-helv-neue:         'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
@value font-size-icon:         14px;
@value font-size-evcon:        42px;

.clearfix {
  zoom: 1;
}

.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap {
  padding-top: 103px;
}

@media tablet {
  .wrap {
    padding-top: 118px;
  }
}
