.carousel {
  max-width: 1200px;
  margin: 0 auto;
}

.carousel:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 1024px) {
  .carousel {
    padding: 20px 15px 15px 15px;
  }
}

.image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid rgba(207, 207, 207, 0.4);
}

.image:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 600px) {
  .image {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-top: 0;
    float: right;
    width: 60%;
    height: 365px;
    border: 1px solid rgba(207, 207, 207, 0.4);
  }
}

@media (min-width: 1441px) {
  .image {
    height: 390px;
  }
}

.slides {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  transition: all 1s ease;
  transition-duration: 1s;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}

.slide:after {
  display: block;
  content: '';
  clear: both;
}

.slide.active {
  opacity: 1;
}

@keyframes fadein {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeout {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.panel {
  position: relative;
  padding: 20px 20px 0px;
}

.panel:after {
  display: block;
  content: '';
  clear: both;
}

@media (min-width: 600px) {
  .panel {
    padding: 25px 40px 0px;
  }
}

@media (min-width: 1024px) {
  .panel {
    width: auto;
    float: left;
    width: 40%;
    padding: 0 20px;
  }
}

.name {
  display: block;
  position: relative;
  font-size: 26px;
  font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: left;
}


@media (min-width: 600px) {
  .name {
    float: left;
    width: 50%;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .name {
    float: none;
    width: auto;
  }
}

.desc {
  position: relative;
  line-height: 24px;
  text-align: justify;
  font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
}

@media (min-width: 600px) {
  .desc {
    float: right;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .desc {
    width: auto;
    margin-top: 0;
    float: none;
    min-height: 185px;
  }
}

.tech {
  border-top: 1px solid rgba(207, 207, 207, 0.4);
}

.links,
.tech {
  display: flex;
  position: relative;
  text-align: left;
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .links, .tech {
    width: 250px;
    min-height: 60px;
  }
}

@media (min-width: 1024px) {
  .links, .tech {
    width: auto;
  }
}

.links .item,
.tech .item {
  display: inline-block;
  text-align: center;
  font-size: 10px;
  width: 50px;
  height: 60px;
}

.item span {
  font-size: 2.5em;
  line-height: 45px;
  color: #7C7C87;
}

.caption {
  font-size: 10px;
  font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif;
}

.links .ext {
  color: #7C7C87;
}

.icon {
  height: 32px;
  width: 32px;
  fill: #7C7C87;
}