p.about {
  font-family: "Raleway";
  text-align: center;
  font-size: 16px;
  background: none;
  padding-top: 5px;
}

.about {
  font-family: "Raleway";
  font-weight: 500;
  text-align: justify;
  line-height: 1.8;
  color: #a3a3a3;
}

.row.about-stats {
  color: #0c0c0c;
}

.about-lead {
  font-size: 18px;
  line-height: 2;
  color: #4a4a4a;
  text-align: left;
  @media (max-width: $screen-md-max) {
    line-height: 1.4em;
  }
}