@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url('../img/brickwall.png');
  margin-bottom: 60px;
}

body, h6, h5, h4, h3, h2, h1, p, a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  background-color: transparent;
  font-smooth: always;
}

img.img-responsive.center-block {
  width: 100%;
  height: auto;
}

.icon {
   background: transparent;
   color: $black;
}

.icon:hover {
   background: transparent;
   color: $white;
   cursor: pointer;
}

.fa:focus {
   background-color: transparent;
   color: $black;
}

.section-title {
  text-transform: uppercase;
}