#project-info {
  font-family: 'Source Sans Pro', sans-serif;
  @media (min-width: $screen-xxs) {
  }
  @media (min-width: $screen-xs) {
    padding-top: 30px;
  }
}

#development {
  padding-bottom: 40px;
  margin-top: 70px;
}

.description {
  font-size: 15px;
  padding-top: 10px;
  font-weight: 500;
  text-align: justify;
}

#stack [class^="devicon-"], [class*=" devicon-"] {
  font-size: 2em;
}

#project-stack {
  padding-top: 15px;
}

#project-stack p {
  font-size: 15px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#project-stack .fa-2x {
  margin-bottom: 3px;
}

p.description a {
  text-decoration: none;
  color: #a3a3a3;
  font-family: 'Source Sans Pro', sans-serif;
}

p.specs {
  font-size: 11px;
  text-align: center;
}

.site i {
  float: left;
  font-size: 1.4em;

}