.avatar {
  border-radius: 20%;
  max-width: 45%;
  text-align: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  @include transition(all 0.3s ease);
}

.header-subhead {
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $screen-xxs) {
    margin-bottom: 0;
  }
  line-height: 4em;
  @media (min-width: $screen-md) {
    text-align: left;
    font-size: 18px;
  }
}