.nav.navbar-default {
  background: none;
  
  .nav.navbar-nav {
    .nav-title {
      font-family: $primarysans;
      color: $black;
      font-weight: 300;
      text-transform: uppercase;
      font-smooth: always;
      @include transition(all 0.3s ease);
    }
    a {
      text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }

  @media (min-width: $screen-xxs) {
    .container-fluid { text-align: center; }
    ul.nav.navbar-nav.navbar-titles li {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      p.nav-title {
        line-height: 2.4em;
        font-size: 18px;
        margin-bottom: 0;
      }
    }
    ul.nav.navbar-nav.navbar-brand li {
      display: none;
      padding: 5px 10px;
      text-align: center;
      p.nav-title {
        line-height: 2.4em;
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $screen-xs) {
    ul.nav.navbar-nav.navbar-titles li {
      padding: 5px 10px;
      p.nav-title {
        font-size: 22px;
      }
    }
    ul.nav.navbar-nav.navbar-brand li {
      padding: 5px 10px;
      p.nav-title {
        font-size: 22px;
        }
      }
    }

  @media (min-width: $screen-sm) {
    ul.nav.navbar-nav.navbar-titles {
      padding-right: 10%;
      float: right;
      & li p.nav-title {
        line-height: 2.5em;
        font-size: 18px;
      }
    }
    ul.nav.navbar-nav.navbar-brand {
      padding-left: 10%;
      float: left;
      display: inline-block;
      & li p.nav-title {
        line-height: 2.5em;
        font-size: 18px;
      }
    }
  }

  @media (min-width: $screen-md) {
    ul.nav.navbar-nav.navbar-titles {
      & li p.nav-title {
        font-size: 22px;
        line-height: 1.4em;
        }
      }
    }
    ul.nav.navbar-nav.navbar-brand {
      & li p.nav-title {
        font-size: 22px;
        line-height: 1.4em;
      }
    }

  @media (min-width: $screen-lg) {
    ul.nav.navbar-nav.navbar-titles {
      & li p.nav-title {
        font-size: 22px;
        line-height: 1.4em;
        }
      }
    }
    ul.nav.navbar-nav.navbar-brand {
      & li p.nav-title {
        font-size: 22px;
        line-height: 1.4em;
      }
    }

}