nav .container-fluid ul.nav.navbar-nav.navbar-left {
  padding-left: 10%;  
}

nav .container-fluid ul.nav.navbar-nav.navbar-right {
  padding-right: 10%;  
}

.project-thumbnail {
  padding-top: 40px;
}

.navbar-default .navbar-toggle {
  border: none;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default {
  padding: 30px;
  background: transparent;
  box-shadow: none;
}

.navbar-right {
  font-size: 13px;
}

.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Raleway";
  color: #000;
}

.navbar-left {
  font-size: 25px;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .nav.navbar-nav.navbar-left {
    display: none;
  }

  .navbar-default .navbar-nav > li > a {
    /*font-size: 18px;*/
    text-align: center;
  }

  .nav > li {
    display: inline-block;
    text-align: center;
  }

  nav .container-fluid {
    text-align: center;
  }

  nav .container-fluid ul.nav.navbar-nav.navbar-right {
    padding: 0;
  }

}