.nav.navbar-default {
  background: none;
  
  .nav.navbar-nav {
    .nav-title {
      font-family: $primarysans;
      color: $black;
      font-weight: 300;
      text-transform: uppercase;
      font-smooth: always;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $primarygrey;
      }
    }
  }

  @media (min-width: $screen-xxs) {
    .container-fluid { text-align: center; }
    ul.nav.navbar-nav.navbar-titles li {
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      p.nav-title {
        line-height: 2.4em;
        font-size: 18px;
        margin-bottom: 0;
      }
    }
    
    ul.nav.navbar-nav.navbar-brand {
      display: none;
    }
  }

  @media (min-width: $screen-xs) {
    ul.nav.navbar-nav.navbar-titles li {
      p.nav-title {
        font-size: 22px;
      }
    }
  }

  @media (min-width: $screen-sm) {
    ul.nav.navbar-nav.navbar-titles {
      float: right;
      & li p.nav-title {
        line-height: 2em;
        font-size: 18px;
      }
    }
    ul.nav.navbar-nav.navbar-brand {
      display: inline-block;
      & li p.nav-title {
        font-size: 18px;
      }
    }
  }

  @media (min-width: $screen-md) {
  ul.nav.navbar-nav.navbar-titles {
    padding-right: 30px;
    & li p.nav-title {
      font-size: 22px;
      }
    }
  }

  ul.nav.navbar-nav.navbar-brand {
    padding-left: 30px;
    & li p.nav-title {
      font-size: 22px;
      line-height: 1.2em;
      }
    }

    @media (min-width: $screen-lg) {
  ul.nav.navbar-nav.navbar-titles {
    padding-right: 120px;
    & li p.nav-title {
      font-size: 22px;
      }
    }
  }

  ul.nav.navbar-nav.navbar-brand {
    padding-left: 120px;
    & li p.nav-title {
      font-size: 22px;
      line-height: 1.2em;
      }
    }

}