.work {
  background-image: url('../img/brickwall.png');
}

.project-container {
  background-color: $black10;
  color: $black;
  border-bottom: 1px solid $primarygreylight;
  border-right: 1px solid $primarygreylight;
  border-radius: 2px;
}
.carousel-container {
  padding-left: 0;
  padding-right: 0;
}
.project-info-container {
  font-family: 'Source Sans Pro', sans-serif;
  .fa { font-weight: bold; }
  .project-text {
    padding: 15px;
    p {
      font-size: 15px;
      padding-top: 10px;
      font-weight: normal;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $primarylight;
      font-family: 'Source Sans Pro', sans-serif;
      &:hover {
        color: $primarylighthover;
      }
    }
  }

  @media (min-width: $screen-xxs) {
    .project-title {
      text-transform: uppercase;
      color: $white;
      background-color: $black;
      text-align: center;
    }
  }
  @media (min-width: $screen-xs) {
    padding-top: 7%;
    .project-title {
      
    }
  }
}