#project-info {
  font-family: 'Source Sans Pro', sans-serif;
  .project-description {
    font-size: 15px;
    padding-top: 10px;
    font-weight: 500;
    text-align: justify;
    a {
      text-decoration: none;
      color: #a3a3a3;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }

  @media (min-width: $screen-xxs) {
    padding-top: 20px;
    .project-title {
      text-align: left;
    }
  }
  @media (min-width: $screen-xs) {
    
  }
}

#development {
  padding-bottom: 40px;
  margin-top: 70px;
}
#stack [class^="devicon-"], [class*=" devicon-"] {
  font-size: 2em;
}