.project-info-container {
  font-family: 'Source Sans Pro', sans-serif;
  .project-description {
    font-size: 15px;
    padding-top: 10px;
    font-weight: 500;
    text-align: justify;
    a {
      text-decoration: none;
      color: #a3a3a3;
      font-family: 'Source Sans Pro', sans-serif;
    }
  }

  @media (min-width: $screen-xxs) {
    margin-top: 10%;
    .project-title {
      text-align: left;
    }
  }
  @media (min-width: $screen-xs) {
    .project-title {
      text-align: center;
    }
  }
}