.home {
  .project-thumbnails-container {
    margin-bottom: 80px;
    @include transition(all 0.3s ease);
    @media (min-width: $screen-xxs) {
      margin-top: 0;
    }
    @media (min-width: $screen-md) {
      margin-top: 30px;
    }
    .project-thumbnail {
      padding-top: 15px;
      padding-right: 7.5px;
      padding-left: 7.5px;
      cursor: pointer;
    }
  }

}

.work {
  .project-thumbnails-container {
    @include transition(all 0.3s ease);
    margin-top: -20px;
  }
}