.project-thumbnails-container {
  margin-top: 50px;
  margin-bottom: 80px;
}

.project-thumbnail {
  padding-top: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  cursor: pointer;
}

.work .project-thumbnails-container {
  margin-top: -20px;
}