@value global '../../style.css';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono';

@value tablet, tablet-sm, tablet-portrait from global;
@value clearfix, flex from global;
@value font-helv-neue from global;
@value tx-dark-gray, bg-matte, tx-secondary from global;

.oss {
  position: relative;
  composes: clearfix;
  width: 100%;
  margin: 0 auto;
  background-color: #1d1f21;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media tablet-sm {
  .oss {
    min-height: 810px;
  }
}

@media tablet-portrait {
  .oss {
    min-height: 600px;
  }
}

.items {
  position: relative;
  composes: flex;
  margin: 0 auto;
}

@media tablet-sm {
  .items {
    width: 85%;
  }
}

.item {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
}

@media tablet-sm {
  .item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 50%;
  }
}

.name {
  font-size: 24px;
  margin-bottom: 5px;
  font-family: font-helv-neue;
  color: #3c3;
}

.desc {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}

@media tablet-sm {
  .desc {
    font-size: 16px;
  }
}

.link {
  display: inline-block;
}

.icon {
  font-size: 22px;
  color: #fff;
  width: 30px;
  height: 30px;
}
