body {
	background-image: url('../img/waves.png');
}

#avatar {
	text-align: center;
}

.avatar {
	border-radius: 50%;
	border: 1px solid black;
	max-width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.icon {
	max-width: 27px;
}

.bio {
	font-family: "Raleway";
	font-weight: 500;
	text-align: justify;
}

code{
	background-color: #000;
	color: #fff;
}

h6 {
	font-family: "Raleway";
	font-weight: 500;
	text-align: left;
}

a.button {
	background-color: #000;
	color: #fff;
}

a.button:visited {
	color: white;
	text-decoration: none;
}

a.button:hover {
	color: yellow;
	text-decoration: none;
}

button.target-btn {
	color: yellow;
	text-decoration: none;
}

button.target-btn:visited {
	color: yellow;
	text-decoration: none;
}

button.target-btn:hover {
	color: white;
	text-decoration: none;
}

.code-logo {
	max-width: 50px;
	width: 100%;
	height: auto;	
}

.summary {
	padding-top: 10px;
	font-weight: 500;
	text-align: justify;
}

#navbar {
	padding-top: 20px;
	border-bottom: 1px solid gray;
}

#landing {
	border-top: 1px solid gray;
}


li {
	list-style-type: none;
}

p {
	display: block;
	font-family: "Raleway";
	font-weight: 500;
}

.screenshot {
	margin-top: 44px;
	max-width: 100%;
	width: 100%;
	height: auto;
	border: 1px solid #81c0eb;
}


