html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url('../img/brickwall.png');
  margin-bottom: 60px;
}

.project-thumbnail {
  padding-top: 30px;
}

.navbar-default .navbar-toggle {
  border: none;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}


.navbar-default {
  padding: 30px;
  background: transparent;
  box-shadow: none;
}

.project-thumbnails-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.project-thumbnail {
  padding-top: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  cursor: pointer;
}

.navbar-right {
  font-size: 13px;
}

.navbar-collapse {
  padding-right: 15%;
  padding-left: 15%;
}

.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-left {
  font-size: 25px;
}

body, h6, h5, h4, h3, h2, h1, p, a {
	font-family: "Raleway";
	font-weight: 500;
  background-color: transparent;
}

#preloader {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 11000;
  position: fixed;
  display: block;
}

.preloader {
  position: absolute;
  margin: 0 auto;
  left: 1%;
  right: 1%;
  top: 45%;
  width: 95px;
  height: 95px;
  background: none center center no-repeat transparent;
  background-size: 95px 95px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

#spinner {
  position: relative;
  height: 95px;
  width: 95px;
  top: 45%;
  margin:0 auto;
  margin-bottom: -45px;
  border-radius:100%;
  -webkit-animation: rotation 0.750s infinite linear;
      -moz-animation: rotation 0.750s infinite linear;
        -o-animation: rotation 0.750s infinite linear;
           animation: rotation 0.750s infinite linear;
}

#spinner:before {
  content:"";
  display:block;
  position:absolute;
  left:-3px;
  top:-3px;
  height:100%;
  width:100%;
  border-top: 3px solid rgba(0, 0, 0, 1);
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 100%;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-col {
  z-index: 1;
  text-align: center;
  color: #a3a3a3;
}

.footer-egg {
	position: absolute;
  z-index: -1;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-image: url('../img/egg.png');
}

.avatar {
	border-radius: 20%;
	max-width: 45%;
	text-align: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.contact-container {
  margin-top: 60px;
}

.carousel-nav a:hover {
  background: transparent;
  color: #ccc;
}

img.img-responsive.center-block {
  width: 100%;
  height: auto;
}

.icon {
   background: transparent;
   color: #000;
}

.icon:hover {
   background: transparent;
   color: #ccc;
   cursor: pointer;
}

.icon:focus {
   background-color: transparent;
   color: #000;
}

.section-title h3 {
  padding-bottom: 17px;
  background: none;
}

#development {
  padding-bottom: 40px;
  margin-top: 70px;
}

.site {
  float: left;
  text-align: center;
}

p.about {
  text-align: center;
  font-size: 16px;
  background: none;
  padding-top: 5px;
}

.about {
	font-family: "Raleway";
	font-weight: 500;
	text-align: justify;
	line-height: 1.8;
	color: #a3a3a3;
}

.row.about-stats {
  color: #0c0c0c;
}

.section-title h2 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

.about-lead {
  font-size: 18px;
	line-height: 2;
  color: #4a4a4a;
}

.description {
	padding-top: 10px;
	font-weight: 500;
	text-align: justify;
}

#stack [class^="devicon-"], [class*=" devicon-"] {
  font-size: 2em;
}

#project-stack p {
  text-align: center;
}

#project-stack .fa-2x {
  margin-bottom: 3px;
}

p.specs {
  font-size: 11px;
  text-align: center;
}

.dmtop {
  background-color:#ccc;
  background-image: url('../img/arrow.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -100px;
  border-radius: 8%;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 25px;
  text-indent: -99999px;
  width: 40px;
  z-index: 9999;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  overflow: auto;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

