@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/* line 3, scss/partials/_base.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 8, scss/partials/_base.scss */
body {
  background-image: url("../img/brickwall.png");
  margin-bottom: 60px;
}

/* line 13, scss/partials/_base.scss */
body, h6, h5, h4, h3, h2, h1, p, a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  background-color: transparent;
}

/* line 19, scss/partials/_base.scss */
img.img-responsive.center-block {
  width: 100%;
  height: auto;
}

/* line 24, scss/partials/_base.scss */
.icon {
  background: transparent;
  color: #000;
}

/* line 29, scss/partials/_base.scss */
.icon:hover {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

/* line 35, scss/partials/_base.scss */
.icon:focus {
  background-color: transparent;
  color: #000;
}

/* line 40, scss/partials/_base.scss */
.section-title h3 {
  padding-bottom: 17px;
  background: none;
}

/* line 45, scss/partials/_base.scss */
.section-title h2 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}

/* line 1, scss/partials/_about.scss */
p.about {
  font-family: "Raleway";
  text-align: center;
  font-size: 16px;
  background: none;
  padding-top: 5px;
}

/* line 9, scss/partials/_about.scss */
.about {
  font-family: "Raleway";
  font-weight: 500;
  text-align: justify;
  line-height: 1.8;
  color: #a3a3a3;
}

/* line 17, scss/partials/_about.scss */
.row.about-stats {
  color: #0c0c0c;
}

/* line 21, scss/partials/_about.scss */
.about-lead {
  font-size: 18px;
  line-height: 2;
  color: #4a4a4a;
}

/* line 1, scss/partials/_carousel.scss */
#project-info {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 30px;
}

/* line 6, scss/partials/_carousel.scss */
#development {
  padding-bottom: 40px;
  margin-top: 70px;
}

/* line 11, scss/partials/_carousel.scss */
.description {
  font-size: 15px;
  padding-top: 10px;
  font-weight: 500;
  text-align: justify;
}

/* line 18, scss/partials/_carousel.scss */
#stack [class^="devicon-"], [class*=" devicon-"] {
  font-size: 2em;
}

/* line 22, scss/partials/_carousel.scss */
#project-stack {
  padding-top: 15px;
}

/* line 26, scss/partials/_carousel.scss */
#project-stack p {
  font-size: 15px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 32, scss/partials/_carousel.scss */
#project-stack .fa-2x {
  margin-bottom: 3px;
}

/* line 36, scss/partials/_carousel.scss */
p.description a {
  text-decoration: none;
  color: #a3a3a3;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 42, scss/partials/_carousel.scss */
p.specs {
  font-size: 11px;
  text-align: center;
}

/* line 47, scss/partials/_carousel.scss */
.site i {
  float: left;
  font-size: 1.4em;
}

/* line 1, scss/partials/_contact.scss */
.contact-container {
  margin-top: 60px;
}

/* line 5, scss/partials/_contact.scss */
.contact-links i:hover {
  color: #fff;
}

/* line 1, scss/partials/_footer.scss */
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 7, scss/partials/_footer.scss */
.footer-col {
  z-index: 1;
  text-align: center;
  color: #a3a3a3;
}

/* line 13, scss/partials/_footer.scss */
.footer-egg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-image: url("../img/egg.png");
}

/* line 1, scss/partials/_header.scss */
.avatar {
  border-radius: 20%;
  max-width: 45%;
  text-align: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, scss/partials/_loader.scss */
#preloader {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 11000;
  position: fixed;
  display: block;
}

/* line 14, scss/partials/_loader.scss */
.preloader {
  position: absolute;
  margin: 0 auto;
  left: 1%;
  right: 1%;
  top: 45%;
  width: 95px;
  height: 95px;
  background: none center center no-repeat transparent;
  background-size: 95px 95px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 31, scss/partials/_loader.scss */
#spinner {
  position: relative;
  height: 95px;
  width: 95px;
  top: 45%;
  margin: 0 auto;
  margin-bottom: -45px;
  border-radius: 100%;
  -webkit-animation: rotation 0.750s infinite linear;
  -moz-animation: rotation 0.750s infinite linear;
  -o-animation: rotation 0.750s infinite linear;
  animation: rotation 0.750s infinite linear;
}

/* line 45, scss/partials/_loader.scss */
#spinner:before {
  content: "";
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  height: 100%;
  width: 100%;
  border-top: 3px solid black;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  /* line 61, scss/partials/_loader.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 62, scss/partials/_loader.scss */
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  /* line 66, scss/partials/_loader.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 67, scss/partials/_loader.scss */
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  /* line 71, scss/partials/_loader.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 72, scss/partials/_loader.scss */
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  /* line 75, scss/partials/_loader.scss */
  from {
    transform: rotate(0deg);
  }

  /* line 76, scss/partials/_loader.scss */
  to {
    transform: rotate(359deg);
  }
}

/* line 1, scss/partials/_nav.scss */
nav .container-fluid ul.nav.navbar-nav.navbar-left {
  padding-left: 10%;
}

/* line 5, scss/partials/_nav.scss */
nav .container-fluid ul.nav.navbar-nav.navbar-right {
  padding-right: 10%;
}

/* line 9, scss/partials/_nav.scss */
.project-thumbnail {
  padding-top: 40px;
}

/* line 13, scss/partials/_nav.scss */
.navbar-default .navbar-toggle {
  border: none;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
}

/* line 20, scss/partials/_nav.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

/* line 24, scss/partials/_nav.scss */
.navbar-default {
  padding: 30px;
  background: transparent;
  box-shadow: none;
}

/* line 30, scss/partials/_nav.scss */
.navbar-right {
  font-size: 13px;
}

/* line 34, scss/partials/_nav.scss */
.navbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 39, scss/partials/_nav.scss */
.navbar-default .navbar-nav > li > a {
  font-family: "Raleway";
  color: #000;
}

/* line 44, scss/partials/_nav.scss */
.navbar-left {
  font-size: 25px;
}

/* line 48, scss/partials/_nav.scss */
.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}

@media (max-width: 800px) {
  /* line 53, scss/partials/_nav.scss */
  .nav.navbar-nav.navbar-left {
    display: none;
  }

  /* line 57, scss/partials/_nav.scss */
  .navbar-default .navbar-nav > li > a {
    /*font-size: 18px;*/
    text-align: center;
  }

  /* line 62, scss/partials/_nav.scss */
  .nav > li {
    display: inline-block;
    text-align: center;
  }

  /* line 67, scss/partials/_nav.scss */
  nav .container-fluid {
    text-align: center;
  }

  /* line 71, scss/partials/_nav.scss */
  nav .container-fluid ul.nav.navbar-nav.navbar-right {
    padding: 0;
  }
}
/* line 1, scss/partials/_thumbnails.scss */
.project-thumbnails-container {
  margin-top: 50px;
  margin-bottom: 80px;
}

/* line 6, scss/partials/_thumbnails.scss */
.project-thumbnail {
  padding-top: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
  cursor: pointer;
}

/* line 13, scss/partials/_thumbnails.scss */
.work .project-thumbnails-container {
  margin-top: -20px;
}
