@import 'variables.less';

// Containers

.page {
  .clearfix();
  position: relative;
  height: 100%;
}

.full-page {
  .clearfix();
  position: relative;
  height: 100vh;
  width: 100vw;
}

.relative {
  .clearfix();
  position: relative;
}

.absolute {
  .clearfix();
  position: absolute;
}

// Lists

.unordered-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-item {
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}

// Text

.header {
  text-transform: uppercase;
  font-size: 26px;
  margin: 25px 15px;
}

.title {
  margin: 15px;
  text-transform: uppercase;
  font-size: 22px;
}

.paragraph {
  margin: 15px;
  line-height: 24px;
  text-align: justify;
}


// Icon

.icon-container {
  height: 65px;
  margin: 5px;
  background-color: @bg-accent;
  color: @tx-light;

  span {
    line-height: 1.5em;
    height: 65px;
    width: 65px;
  }

  .text {
    font-size: 23px;
    line-height: 55px;
  }
}

.icon-caption {
  color: @tx-light;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 12px;
}


// Image

.image {
  width: 100%;
  height: auto;
  display: block;
}

.clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}