@import 'mixins.less';

// Containers

.page {
  .clearfix();
  position: relative;
  height: 100%;
}

.section {
  .clearfix();
  position: relative;
}

// Text

.header {
  text-transform: uppercase;
  font-size: 26px;
  margin: 25px 15px;
}

.title {
  margin: 15px;
  text-transform: uppercase;
  font-size: 22px;
}

.paragraph {
  margin: 15px;
  line-height: 24px;
}


// Image

.image {
  width: 100%;
  height: auto;
  display: block;
}