.logo {
  display: block;
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #212121;
}

@media (min-width: 1024px) {
  .logo {
    background-color: none;
    height: 100px;
  }
}

.img {
  display: block;
  position: relative;
  width: 60px;
  top: 15px;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 1200;
  padding: 2px;
  animation-delay: 0.5s;
  transition: all 0.5s ease;
}

@media (min-width: 1024px) {
  .img {
    width: 100px;
  }
}

.img.wait,
.img.wait img {
  opacity: 0;
  height: 0;
  width: 0;
  background-color: transparent;
}

.img img {
  background-color: #CFCFCF;
  border-radius: 50%;
  padding: 3px;
}

@media (min-width: 1024px) {
  .img img {
    transition: all 0.3s ease;
    padding: 10px;
  }
}

.diamond {
  position: absolute;
  z-index: 1005;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  height: 110px;
  width: 140px;
  border-top: 110px solid #212121;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
}

@media (min-width: 1024px) {
  .diamond.wait {
    display: none;
    height: 0;
    widht: 0;
  }
  .diamond {
    display: block;
    height: 160px;
    width: 206px;
    transition: all 0.3s ease;
    border-top: 160px solid #212121;
    border-left: 206px solid transparent;
    border-right: 206px solid transparent;
  }
}

.border.wait {
  display: none;
  height: 0;
  background-color: #212121;
}

.border {
  display: block;
  position: relative;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #696874;
}
