body {
	margin: 20px;
	background: #a4d2dc url('http://evturn.com/img/Palm.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

li {
	list-style-type: none;
	display: inline-block;
}