html,body {
	margin: 10px;
	background-color: #a4d2dc;
	background-image: url(http://evturn.com/img/Palm.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.background {
	margin-top: 100px;
	position: center;
}


.about {
	float: left;
	font-size: 20px;
	font-family: calibri;
	color: white;
	margin: 100px;
	width: 300px;
	position: left;
}

.summary {
	float: left;
	padding: 5px;
	margin: 200px;
}

#italic {
	font-style: italic;
}

/* nav bar */

#nav-bar {
  zoom: 1;
  width: auto;
  background: #a4d2dc;
  padding: 8px 0;
}
#nav-bar:before {
  content: '';
  display: block;
}
#nav-bar:after {
  content: '';
  display: table;
  clear: both;
}
#nav-bar ul {
  list-style-type: none;
  position: relative;
  display: block;
  font-size: 30px;
  font-family: calibri;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #7ab900;
  zoom: 1;
}
#nav-bar ul:before {
  content: '';
  display: block;
}
#nav-bar ul:after {
  content: '';
  display: table;
  clear: both;
}
#nav-bar li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#nav-bar li a {
  float: left=;
  color: #A79787;
  text-decoration: none;
  height: 24px;
  padding: 9px 15px 0;
  font-weight: normal;
}
#nav-bar li:hover,
#nav-bar .home {
  text-decoration: none;
  border-bottom: 2px solid #7ab900;
}
#nav-bar li:hover a {
  color: #ffffff;
  font-style: italic;
}
#nav-bar .home a {
  color: #fff;
  font-weight: 700;
  font-style: italic;
}