body {
	margin: 30px;
	background: #a4d2dc url('../img/palm.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

.tab {
	list-style-type: none;
	display: inline-block;
}

.project-tab {
	list-style-type: none;
}

.language {
	list-style-type: none;
}

.code-logo {
	max-width: 32px;
	max-width: 32px;
}

.screenshot {
	max-width: 730px;
	max-width: 730px;

}