body {
	margin: 20px;
	background: #a4d2dc url('../img/palm.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

.tab {
	list-style-type: none;
	display: inline-block;
}

.language {
	list-style-type: none;
}