.avatar {
	border-radius: 50%;
	border: 1px solid #81c0eb;
	max-width: 80%;
	height: auto;
}

.bio {
	font-weight: 500;
	text-align: justify;
}

.code-logo {
	max-width: 40px;
	width: 100%;
	height: auto;	
}

.description {
	padding-top: 10px;
	font-weight: 500;
	text-align: justify;
}

#navbar {
	padding-top: 20px;
	border-bottom: 1px solid gray;
}

p {
	display: block;
}

#portfolio {
	border-bottom: 1px solid gray;
	font-weight: 500;	
}

li {
	list-style-type: none;
}

.screenshot {
	margin-top: 44px;
	max-width: 100%;
	width: 100%;
	height: auto;
	border: 1px solid #81c0eb;
}


