  .root {
    position: relative;
    height: 200px;
    width: 300px;
  }

  .stroke {
    position: absolute;
    top: -120px;
    right: 0;
    left: 70px;
    transform: rotate(260deg);
  }

  .svg {
    color: #fff;
    height: auto;
    width: 100%;
  }

.logo {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  width: 100%;
  border-radius: 50%;
  padding: 30px;
  opacity: 0.9;
}