@import "../global/variables.less";
@import "../global/reset.less";
@import "../global/base.less";
@import "../global/fonts/fonts.less";
@import "../components/icons.less";

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  &::-webkit-media-controls {
    display: none !important;
  }
}