.caption {
  font-size: 10px;
}

.one-em              { font-size: 1em; }
.two-em              { font-size: 2em; }
.three-em            { font-size: 3em; }
.four-em             { font-size: 4em; }
.five-em             { font-size: 5em; }
.one-half-em         { font-size: 1.5em; }
.two-half-em         { font-size: 2.5em; }
.three-half-em       { font-size: 3.5em; }
.four-half-em        { font-size: 4.5em; }

.header-subhead {
  background-color: @black;
  color: @white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
  margin-bottom: 0;
  @media (min-width: @sm) {
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
  }
}