.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

[class$="-wrapper"] {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: @max;
}

.inner-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  max-width: @lg;
}