@import '../variables.less';

.root {
  position: relative;
  height: 85vh;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 85px;
  .clearfix();
}

.image {
  position: relative;
  .clearfix();
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;

}

.av {
  @media(@tablet) {
    position: relative;
    float: left;
    height: 90vh;
    width: 45%;

    .image {
      position: absolute;
      top: 24%;
      right: 180px;
      width: 220px;
      height: 220px;
    }
  }
}

.details {
  @media(@tablet) {
    position: relative;
    float: right;
    height: 90vh;
    width: 55%;

    .tech {
      display: block;
      position: absolute;
      right: 0;
      top: 5%;
    }

    .bio {
      float: left;
      top: 25%;
    }
  }
}

.tech {
  .flex();
  width: 100%;

  .icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1.5em;
  }

  .list {
    width: 100%;
  }
  .item {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 25%;
    &:nth-child(n+5) {
      display: none;
    }

    @media(@tablet) {
      display: block;
      text-align: right;
      width: auto;
      margin-bottom: 5px;
      &:nth-child(n+1) {
        display: block;
      }
    }
  }
}

.bio {
  margin: 0 auto;
  max-width: 450px;
  position: relative;
  .clearfix();
  margin-bottom: 30px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin: 25px 15px;
}

.paragraph {
  font-size: 17px;
  margin: 15px;
  line-height: 24px;
  text-align: justify;
}

