@import '../variables.less';

.root {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
}

.header {
  width: 160px;
  height: 160px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid @tx-secondary;
}

.bio {
  margin: 0 auto;
  max-width: 450px;
}

.center {
  text-align: center;
}

.paragraph {
  font-size: 17px;
  line-height: 27px;
}

.info-box {
  margin-bottom: 15px;
  @media(@tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tech {
  .info-box;
  @media(@tablet) {
    float: left;
    width: 70%;
  }
}

.stats {
  .info-box;
  @media(@tablet) {
    float: right;
    width: 30%;
  }
}