@import '../variables.less';

.page {
  .clearfix();
  position: relative;
  height: 100%;
  padding-bottom: 15px;

  .page-header {
    background-color: @bg-secondary;
    padding-left: 10px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    font-family: @font-helv-neue;
    color: @tx-light;
    overflow: hidden;
  }

  .page-title {
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    max-width: 1000px;
  }
}

.categories {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: tint(@bg-primary, 90);

  .item {
    display: inline-block;
    width: 102px;
    font-family: @font-helv-neue;
    font-weight: 300;
    text-align: center;
    a {
      color: @tx-dark;

      &.active {
        color: @tx-primary;
      }
    }
    span {
      font-size: 1.5em;
    }
  }

  .title {
    font-size: 12px;
  }
}

