@import '../variables.less';

.page {
  .clearfix();
  position: relative;
  height: 100%;
  padding-bottom: 15px;

  .page-header {
    background-color: @bg-secondary;
    padding-left: 10px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    font-family: @font-helv-neue;
    color: @tx-light;
    overflow: hidden;
  }

  .page-title {
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    max-width: 1000px;
  }
}

.image {
  width: 730px;
  position: absolute;
  top: -110px;
  left: -390px;
  @media(@tablet) {
    width: 750px;
    top: -120px;
    left: -60px;
  }
}

.categories {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: tint(@bg-primary, 90);

  .item {
    display: inline-block;
    width: 102px;
    font-family: @font-helv-neue;
    font-weight: 300;
    text-align: center;
    a {
      color: @tx-dark;
    }
    span {
      font-size: 1.5em;
    }
  }

  .title {
    font-size: 12px;
  }
}

.featured {
  position: relative;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 10px;
  .clearfix();

  @media(@tablet) {
    padding-top: 20px;
  }

  .header {
    display: block;
    height: auto;
    line-height: normal;
    padding-bottom: 10px;

    @media(@tablet) {
      display: inline-block;
    }
  }
}


.items {
  display: block;
  text-align: left;

  margin-left: 15px;
  height: auto;

  .item {
    display: inline-block;

    &.name {
      display: block;
      text-transform: uppercase;
      font-family: @font-helv-neue;
      font-size: 26px;
      text-align: left;
    }

    &.link {
      display: inline-block;
      text-align: left;
      width: 50px;
      margin-top: 10px;
      margin-right: 10px;

      span {
        font-size: 24px;
        color: @tx-secondary;
      }
    }
  }
}

.tech {
  position: relative;
  text-align: center;

  @media(@tablet) {
    // position: absolute;
    // bottom: 0;
    // left: 0;
  }

  .item {
    font-size: 10px;
    width: 60px;
    height: 60px;
  }
  span {
    font-size: 2.5em;
    line-height: 40px;
  }
}

.detail {
  position: relative;
  @media(@tablet) {
    float: left;
    width: 40%;
  }
}

.description {
  position: relative;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 24px;
  text-align: justify;
  font-family: @font-helv-neue;
  @media(@tablet) {
    margin-top: 0;
    float: none;
    min-height: 250px;
  }
}

.other {
  margin-left: 10px;
  max-width: 1000px;
  border-bottom: 1px solid fade(@tx-primary, 40);
  text-transform: uppercase;
  font-family: @font-helv-neue;
  @media(@tablet) {
    margin: 10px auto;
  }
}

.active {
  border-bottom: 1px solid @tx-dark;
  bottom: 0;
}