.root {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 0;
  background: linear-gradient(to left, #00d2ff , #3a7bd5);
}

.ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  align-items: center;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.item {
  display: inline-block;
  width: 100%;
}

.link {
  margin-right: 15px;
}

.svg {
  color: #00d2ff;
  width: 150px;
  height: 150px;
}

@media (min-width: 1024px) {
  .svg {
    width: 200px;
    height: 200px;
  }
}