:root {
  --shade-0: #2b2a2e;
  --shade-1: #3e3d42;
  --shade-2: #4e5053;
  --shade-3: #67696d;
  --shade-4: #7b8184;
  --shade-5: #babac2;
  --shade-6: #e0e0e6;
  --shade-7: #fefefe;
  --alpha-0: 0.8;
}

.root {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  height: 450px;
  width: 100%;
}

.hedron {
  width: 400px;
  height: 800px;
}

.bars {
  display: flex;
  width: 400px;
  height: 200px;
  border-top: 1.5px solid var(--shade-7);
  border-bottom: 1.5px solid var(--shade-7);
}

.bara,
.barb,
.barc,
.bard {
  position: relative;
}

.bara {
  width: 75px;
  height: 200px;
  background-color: var(--shade-7);
}

.barb {
  width: 125px;
  height: 200px;
  background-color: var(--shade-7);
}

.barc {
  width: 125px;
  height: 200px;
  background-color: var(--shade-7);
}

.bard {
  width: 75px;
  height: 200px;
  background-color: var(--shade-7);
}

.bara .edgea {
  position: absolute;
  border-top: 98px solid transparent;
  border-left: 35px solid var(--shade-0);
  border-bottom: 97px solid transparent;
  border-right: 0px solid transparent;
  z-index: 2;
  left: 0;
  top: 2px;
}

.bara .anga:after {
  border-top: 100px solid var(--shade-1);
}

.bara .angb:after {
  border-bottom: 100px solid var(--shade-1);
}

.bara .edgeb {
  border-top: 100px solid transparent;
  border-right: 36px solid var(--shade-2);
  border-bottom: 100px solid transparent;
  border-left: 39px solid transparent;
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
}

.barb .diar {
  position: absolute;
  border-top: 99px solid transparent;
  border-left: 60px solid var(--shade-2);
  border-bottom: 97px solid transparent;
  border-right: 0px solid transparent;
  z-index: 2;
  top: 2px;
  left: 0;
}

.barb .pyra:after {
  border-top: 100px solid var(--shade-2);
}

.barb .pyrb:after {
  border-bottom: 100px solid var(--shade-2);
}

.barb .dial {
  border-top: 98px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 99px solid transparent;
  border-right: 61px solid var(--shade-3);
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 1;
}

.barc .diar {
  border-top: 98px solid transparent;
  border-left: 59px solid var(--shade-3);
  border-bottom: 96px solid transparent;
  border-right: 0px solid transparent;
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 2;
}

.barc .pyra:after {
  border-top: 100px solid var(--shade-4);
}

.barc .pyrb:after {
  border-bottom: 100px solid var(--shade-4);
}

.barc .dial {
  border-top: 99px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 97px solid transparent;
  border-right: 60px solid var(--shade-4);
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 1;
}

.bard .anga:after {
  border-top: 100px solid var(--shade-5);
}

.bard .angb:after {
  border-bottom: 100px solid var(--shade-5);
}

.edgea {
  position: absolute;
  border-top: 100px solid transparent;
  border-left: 35px solid var(--shade-0);
  border-bottom: 100px solid transparent;
  border-right: 0px solid transparent;
  z-index: 2;
}

.bard .edgea {
  border-top: 96px solid transparent;
  border-left: 34px solid var(--shade-4);
  border-bottom: 95px solid transparent;
  border-right: 0 solid transparent;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 1;
}

.bard .edgeb {
  border-top: 98px solid transparent;
  border-right: 35px solid var(--shade-6);
  border-bottom: 98px solid transparent;
  border-left: 39px solid transparent;
  position: absolute;
  right: 0;
  top: 2px;
  z-index: 1;
}

.edgeb {
  border-top: 100px solid transparent;
  border-right: 35px solid var(--shade-5);
  border-bottom: 100px solid transparent;
  border-left: 0px solid transparent;
  z-index: 2;
}

.anga:after {
  border-top: 100px solid var(--shade-1);
  border-right: 37.5px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 37.5px solid transparent;
}

.angb:after {
  border-top: 100px solid transparent;
  border-right: 37.5px solid transparent;
  border-bottom: 100px solid var(--shade-1);
  border-left: 37.5px solid transparent;
}

.pyra:after {
  border-top: 100px solid var(--shade-4);
  border-right: 62.5px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 62.5px solid transparent;
}

.pyrb:after {
  border-top: 100px solid transparent;
  border-right: 62.5px solid transparent;
  border-bottom: 100px solid var(--shade-4);
  border-left: 62.5px solid transparent;
}

.pyrc:after {
  border-top: 50px solid var(--shade-1);
  border-right: 100px solid var(--shade-1);
  border-bottom: 50px solid transparent;
  border-left: 100px solid transparent;
}

.pyrd:after {
  border-top: 50px solid var(--shade-1);
  border-right: 100px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid var(--shade-1);
}

.squa,
.squc {
  height: 100px;
  width: 200px;
  background-color: transparent;
  border-right: 1px solid var(--shade-3);
}

.tria:after {
  border-top: 50px solid transparent;
  border-right: 100px solid var(--shade-2);
  border-bottom: 50px solid var(--shade-2);
  border-left: 100px solid transparent;
}

.trib:after {
  border-top: 50px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 50px solid var(--shade-6);
  border-left: 100px solid var(--shade-6);
}

.squa .trix:after {
  border-top: 100px solid transparent;
  border-right: 125px solid var(--shade-3);
  border-bottom: 0px solid var(--shade-3);
  border-left: 75px solid transparent;
}

.squb .trix:after {
  border-top: 100px solid transparent;
  border-left: 125px solid var(--shade-5);
  border-bottom: 0px solid var(--shade-5);
  border-right: 75px solid transparent;
  z-index: 2;
}

.squc .trix:after {
  border-top: 0px solid transparent;
  border-right: 125px solid var(--shade-1);
  border-bottom: 100px solid transparent;
  border-left: 75px solid transparent;
}

.squd .trix:after {
  border-top: 0px solid transparent;
  border-left: 125px solid var(--shade-3);
  border-bottom: 100px solid transparent;
  border-right: 75px solid transparent;
  z-index: 2;
}

.squb,
.squd {
  height: 100px;
  width: 200px;
  background-color: transparent;
  border-left: 1px solid var(--shade-3);
}

.tris {
  height: 100px;
  width: 100%;
  display: flex;
}

.trix:after,
.anga:after,
.angb:after,
.pyra:after,
.pyrb:after,
.pyrc:after,
.pyrd:after,
.tria:after,
.trib:after,
.tric:after,
.trid:after {
  content: '';
  border-style: solid;
  position: absolute;
  height: 0;
  width: 0;
}

.tric:after {
  border-top: 50px solid var(--shade-0);
  border-right: 100px solid var(--shade-0);
  border-bottom: 50px solid transparent;
  border-left: 100px solid transparent;
}

.trid:after {
  border-top: 50px solid var(--shade-4);
  border-right: 100px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid var(--shade-4);
}

.avatar {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 35px;
  z-index: 3;
}
