.root {
  height: 450px;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}

.avatar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 19%;
  right: 0;
  height: 270px;
  width: 100%;
}

.bars {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.bar {
  border-radius: 30px;
}
.bar0, .bar1, .bar2 {
  position: absolute;
  border-radius: 10px;
  height: 275px;
  width: 165px;
}

.bar0 {
  background-color: #272727;
  transform: rotate(30deg);
}

.bar1 {
  background-color: #3f3f3f;
  transform: rotate(150deg);
}

.bar2 {
  background-color: #1c1c1c;
  transform: rotate(90deg);
  overflow: hidden;
}

.bar20:after,
.bar20:before {
  content: '';
  border-style: solid;
  position: absolute;
  left: 0;
}

.bar20:after {
  top: 40px;
}

.bar20:before {
  top: 0;
  border-color: transparent transparent transparent #303030;
  border-top-width: 275px;
  border-right-width: 275px;
  border-bottom-width: 275px;
  border-left-width: 160px;
}

.bar21:after,
.bar21:before {
  content: '';
  border-style: solid;
  position: absolute;
  left: 0;
}

.bar21:after {
  border-color: transparent transparent transparent #292929;
}

.bar21:before {
  bottom: 0;
  border-top-width: 275px;
  border-color: transparent transparent transparent #292929;
  border-right-width: 275px;
  border-bottom-width: 300px;
  border-left-width: 170px;
}

.bar22:after,
.bar22:before {
  content: '';
  border-style: solid;
  position: absolute;
  left: 0;
}

.bar22:after {
  bottom: 0px;
  border-color: transparent transparent transparent #363636;
}

.bar22:before {
  bottom: 0px;
  border-color: transparent transparent transparent #363636;
  border-top-width: 140px;
  border-right-width: 175px;
  border-bottom-width: 140px;
  border-left-width: 80px;
}
