@import url('../../../assets/less/variables.less');

.logo {
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 15px;
    left: 0;
    right: 0;
    background-color: @bg-light;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1200;
    padding: 2px;
    animation-delay: 0.5s;
    transition: all 0.5s ease;

    @media(@tablet) {
      height: 100px;
      width: 100px;

      &.wait,
      &.wait img {
        opacity: 0;
        height: 0;
        width: 0;
        background-color: transparent;
      }
    }

    img {
      background-color: #cfcfcf;
      border-radius: 50%;
      padding: 3px;

      @media(@tablet) {
        transition: all 0.3s ease;
        padding: 10px;
      }
    }
  }