@import '../variables.less';

.root {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position-x: 50%;
  background-image: url('images/site/banana-plants.png');
  border: 3px solid @tx-light;
  @media(@break) {
    border: none;
    background-image: url('images/site/banana-plants.png');
    background-color: transparent;
    background-position-y: 40%;
    background-position-x: 0%;
  }
}

.title {
  position: absolute;
  margin: 0 auto;
  top: 33.333333333%;
  right: 0;
  left: 0;
  text-align: center;
  color: @tx-light;
  z-index: 5;
  font-family: @font-glengary;
  height: auto;
  height: 100%;
  display: block;
  width: 80%;
  @media(@break) {
    width: 60%;
  }
}

.header {
  font-size: 25px;
  margin-top: 25px;
  text-transform: uppercase;
  text-align: center;
  color: @tx-light;

}

.head {
  font-family: @font-helv;
  letter-spacing: -2px;
  &:after {
    content: 'Evan Turner';
  }
}

.subhead {
  font-family: @font-helv-neue;
  font-weight: 300;
  &:after {
    content: 'Developer';
  }
}

.mobile {
  display: block;
  @media(@break) {
    display: none;
  }
}

.img-lg {
  display: none;
  @media(@break) {
    display: block;
  }
}

.image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-sm {
  display: block;
  width: 160px;
  height: 160px;
  padding: 30px;
  margin: 0 auto;
  background-color: @bg-light;
  border-radius: 50%;
  overflow: hidden;
  @media(@break) {
    display: none;
  }
}

.top {
  position: relative;
  z-index: 100;
}

.overlay {
  background-color: @bg-dark;
  opacity: .8;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
}



.item {
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  overflow: auto;
  font-weight: bold;
  line-height: 19px;
  font-size: 19px;
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid fade(@tx-light, 70);
  &:first-child {
    border-top: 1px solid fade(@tx-light, 70);
  }
  a {
    color: @tx-light;
  }
}

.uppercase {
  margin-bottom: -10px;
  font-size: 18vw;
  font-weight: 500;
}

.E {
  .uppercase();
  letter-spacing: -18px;
  &:after {
    content: "E";
  }
}

.T {
  .uppercase();
  letter-spacing: -16px;
  &:after {
    content: "T";
  }
}

.low {
  vertical-align: bottom;
  font-size: 12vw;
  font-weight: 500;
  letter-spacing: 0px;
}

