@import '../variables.less';

.home {
  height: 100vh;
  width: 100vw;
}

.home-banner {
  position: absolute;
  top: 65%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 3;
  background-color: fade(@bg-light, 90);
  opacity: .9;
  width: 90%;
  font-family: @font-helv-neue;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  @media(@tablet) {
    top: 45%;
    width: 300px;
  }
}

.home-title,
.home-description {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}