@import '../variables.less';

.root {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position-x: 50%;
  background-image: url('images/site/banana-plants.png');
  @media(@tablet) {
    background-position-y: 40%;
    background-position-x: 0%;
  }
}

.banner {
  top: 65%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 3;
  opacity: .9;
  width: 90%;
  color: @tx-light;
  font-family: @font-glengary;
  font-size: 50px;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
  @media(@tablet) {
    top: 45%;
    width: 300px;
  }
}

.home-title,
.home-description {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}