@import '../variables.less';
@import '../mixins.less';
@import '../common.less';

.work {
  .clearfix;
  position: relative;
  height: 100%;
}

.project-info {
  width: 100%;
}

.project-links {
  width: 100%;
}

.project-tech {
  width: 100%;
}

// // Details - Info
.project-info {
  .clearfix;
  position: relative;
}

.project-title {
  margin: 15px;
  text-transform: uppercase;
  font-size: 22px;
}

.project-header {
  text-transform: uppercase;
  font-size: 26px;
  margin: 25px 15px;
}

.project-description {
  margin: 15px;
  line-height: 24px;
}

.project-tech {
  .clearfix;
  position: relative;
}

.project-links ul {
  margin: 15px;
}

.squares {
  .flex;
  float: right;
}


/* list item */
.square {
  .item;
}

/* icon */
.square .icon {
  background-color: #231f20;
  transition: 0.1s;
  line-height: 65px;
  height: 65px;
  width: 65px;
  margin: 5px;
  font-size: 27px;
}

.square:hover .icon {
  @media(min-width: 1024px) {
    background-color: #ffffff;
    border: 1px #cccccc;
  }
}

.square a {
  transition: 0.1s;
  color: #ffffff;
}

.square:hover a {
  @media(min-width: 1024px) {
    color: #5FA3C0;
  }
}