@import '../variables.less';

.list {
  float: right;
}

.item .icon {
  text-align: center;
  background-color: @bg-dark;
  transition: 0.1s;
  line-height: 65px;
  height: 65px;
  width: 65px;
  margin: 5px;
  font-size: 27px;
}

.item:hover .icon {
  @media(@tablet) {
    background-color: @tx-light;
    border: 1px #cccccc;
  }
}

.item a {
  transition: 0.1s;
  color: @tx-light;
}

.item:hover a {
  @media(@tablet) {
    color: @tx-accent;
  }
}