@value global: '../../style.css';

@value tablet, tablet-sm from global;
@value bg-gray, bg-light-20, bg-accent-80 from global;

.root {
  display: block;
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}

.root img {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: auto;
}

.logo {
  animation-delay: 1s;
  animation-duration: 1.2s;
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 40%;
  right: 0;
  padding: 20px;
  border-radius: 50%;
  background: #ffffff;
  width: 140px;
  height: 140px;
  overflow: hidden;
}

.spinner {
  width: 140px;
  height: 140px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 40%;
  right: 0;
  border-radius: 100%;
  animation: rotation 1s infinite linear;
}

.spinner:before {
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: 0px;
  height: 100%;
  width: 100%;
  border-top: 10px solid bg-gray;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 100%;
}

.spinner ::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.kill {
  display: none;
}
