@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,400,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(https://fonts.googleapis.com/css?family=Merriweather:700,700italic,900,900italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css);

@font-face {
  font-family: 'devicon';
  src: url('assets/fonts/devicon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'evcon';
  src: url('assets/fonts/evcon.eot');
  src: url('assets/fonts/evcon.eot')  format('embedded-opentype'),
       url('assets/fonts/evcon.ttf')  format('truetype'),
       url('assets/fonts/evcon.woff') format('woff'),
       url('assets/fonts/evcon.svg')  format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="devicon-"],
[class*=" devicon-"] {
  font-family: 'devicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.5em;
  font-size: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="evcon-"],
[class*=" evcon-"] {
  font-family: 'evcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 3em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  background-color: #ffffff;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%)
}

video::-webkit-media-controls {
  display: none !important;
}

.overlay {
  overflow: hidden;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  left: 0;
  transition: 0.3s;
}

@media (min-width: 1024px) {
  .overlay {
    background-color: #ffffff;
    opacity: 0.6;
  }
}

a {
  text-decoration: none;
}
/* Base Styles
-------------------------------------------------------- */

@-webkit-keyframes bugfix {
  from {padding:0;}
  to {padding:0;}
}

/* Resets
---------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Headers
---------------------*/

ul {
  padding-left: 0;
}

ol, li {
  list-style-type: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

/* Links
---------------------*/
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: 0;
}

.evcon-redux:before {
  content: "\e905";
}
.evcon-browserify:before {
  content: "\e904";
}
.evcon-web-socket:before {
  content: "\e903";
}
.evcon-rxjs:before {
  content: "\e902";
}
.evcon-npm:before {
  content: "\e900";
}
.evcon-swift:before {
  content: "\e901";
}
.evcon-webpack:before {
  content: "\e600";
}
.evcon-babel:before {
  content: "\e601";
}
.evcon-express:before {
  content: "\e602";
}
.evcon-handlebars:before {
  content: "\e603";
}


.devicon-amazonwebservices-original:before,
.devicon-amazonwebservices-plain:before {
  content: "\e603";
}

.devicon-amazonwebservices-plain-wordmark:before {
  content: "\e604";
}

.devicon-android-plain-wordmark:before {
  content: "\e60d";
}

.devicon-android-plain:before {
  content: "\e60e";
}

.devicon-angularjs-plain-wordmark:before {
  content: "\e61c";
}

.devicon-angularjs-plain:before {
  content: "\e61d";
}

.devicon-appcelerator-original:before,
.devicon-appcelerator-plain:before {
  content: "\e620";
}

.devicon-appcelerator-plain-wordmark:before {
  content: "\e621";
}

.devicon-apple-original:before,
.devicon-apple-plain:before {
  content: "\e622";
}

.devicon-atom-original-wordmark:before,
.devicon-atom-plain-wordmark:before {
  content: "\e623";
}

.devicon-atom-original:before,
.devicon-atom-plain:before {
  content: "\e624";
}

.devicon-backbonejs-plain-wordmark:before {
  content: "\e62c";
}

.devicon-backbonejs-plain:before {
  content: "\e62d";
}

.devicon-bootstrap-plain-wordmark:before {
  content: "\e62e";
}

.devicon-bootstrap-plain:before {
  content: "\e62f";
}

.devicon-bower-line-wordmark:before {
  content: "\e630";
}

.devicon-bower-line:before {
  content: "\e631";
}

.devicon-bower-plain-wordmark:before {
  content: "\e64e";
}

.devicon-bower-plain:before {
  content: "\e64f";
}

.devicon-chrome-plain-wordmark:before {
  content: "\e665";
}

.devicon-chrome-plain:before {
  content: "\e666";
}

.devicon-codeigniter-plain-wordmark:before {
  content: "\e667";
}

.devicon-codeigniter-plain:before {
  content: "\e668";
}

.devicon-coffeescript-original-wordmark:before,
.devicon-coffeescript-plain-wordmark:before {
  content: "\e669";
}

.devicon-coffeescript-original:before,
.devicon-coffeescript-plain:before {
  content: "\e66a";
}

.devicon-css3-plain-wordmark:before {
  content: "\e678";
}

.devicon-css3-plain:before {
  content: "\e679";
}

.devicon-debian-plain-wordmark:before {
  content: "\e67e";
}

.devicon-debian-plain:before {
  content: "\e67f";
}

.devicon-dot-net-plain-wordmark:before {
  content: "\e6d3";
}

.devicon-dot-net-plain:before {
  content: "\e6d4";
}

.devicon-drupal-plain-wordmark:before {
  content: "\e6e2";
}

.devicon-drupal-plain:before {
  content: "\e6e3";
}

.devicon-firefox-plain-wordmark:before {
  content: "\e75d";
}

.devicon-firefox-plain:before {
  content: "\e75e";
}

.devicon-foundation-plain-wordmark:before {
  content: "\e7a2";
}

.devicon-foundation-plain:before {
  content: "\e7a3";
}

.devicon-git-plain-wordmark:before {
  content: "\e7a7";
}

.devicon-git-plain:before {
  content: "\e7a8";
}

.devicon-grunt-line-wordmark:before {
  content: "\e7a9";
}

.devicon-grunt-line:before {
  content: "\e7aa";
}

.devicon-grunt-plain-wordmark:before {
  content: "\e7ea";
}

.devicon-grunt-plain:before {
  content: "\e7eb";
}

.devicon-gulp-plain:before {
  content: "\e7ec";
}

.devicon-html5-plain-wordmark:before {
  content: "\e7f6";
}

.devicon-html5-plain:before {
  content: "\e7f7";
}

.devicon-ie10-original:before,
.devicon-ie10-plain:before {
  content: "\e7f8";
}

.devicon-illustrator-line:before {
  content: "\e7f9";
}

.devicon-illustrator-plain:before {
  content: "\e7fa";
}

.devicon-inkscape-plain-wordmark:before {
  content: "\e834";
}

.devicon-inkscape-plain:before {
  content: "\e835";
}

.devicon-java-plain-wordmark:before {
  content: "\e841";
}

.devicon-java-plain:before {
  content: "\e842";
}

.devicon-javascript-plain:before {
  content: "\e845";
}

.devicon-jquery-plain-wordmark:before {
  content: "\e849";
}

.devicon-jquery-plain:before {
  content: "\e84a";
}

.devicon-krakenjs-plain-wordmark:before {
  content: "\e84f";
}

.devicon-krakenjs-plain:before {
  content: "\e850";
}

.devicon-laravel-plain-wordmark:before {
  content: "\e851";
}

.devicon-laravel-plain:before {
  content: "\e852";
}

.devicon-less-plain-wordmark:before {
  content: "\e853";
}

.devicon-linux-plain:before {
  content: "\eb1c";
}

.devicon-mongodb-plain-wordmark:before {
  content: "\eb43";
}

.devicon-mongodb-plain:before {
  content: "\eb44";
}

.devicon-moodle-plain-wordmark:before {
  content: "\eb5a";
}

.devicon-moodle-plain:before {
  content: "\eb5b";
}

.devicon-mysql-plain-wordmark:before {
  content: "\eb60";
}

.devicon-mysql-plain:before {
  content: "\eb61";
}

.devicon-nodejs-plain-wordmark:before {
  content: "\eb69";
}

.devicon-nodejs-plain:before {
  content: "\eb6a";
}

.devicon-oracle-original:before,
.devicon-oracle-plain:before {
  content: "\eb6b";
}

.devicon-photoshop-line:before {
  content: "\eb6c";
}

.devicon-photoshop-plain:before {
  content: "\eb6d";
}

.devicon-php-plain:before {
  content: "\eb71";
}

.devicon-postgresql-plain-wordmark:before {
  content: "\eb7c";
}

.devicon-postgresql-plain:before {
  content: "\eb7d";
}

.devicon-python-plain-wordmark:before {
  content: "\eb88";
}

.devicon-python-plain:before {
  content: "\eb89";
}

.devicon-rails-plain-wordmark:before {
  content: "\eba2";
}

.devicon-rails-plain:before {
  content: "\eba3";
}

.devicon-react-original-wordmark:before,
.devicon-react-plain-wordmark:before {
  content: "\e600";
}

.devicon-react-original:before,
.devicon-react-plain:before {
  content: "\e601";
}

.devicon-ruby-plain-wordmark:before {
  content: "\ebc9";
}

.devicon-ruby-plain:before {
  content: "\ebca";
}

.devicon-sass-original:before,
.devicon-sass-plain:before {
  content: "\ebcb";
}

.devicon-symfony-original-wordmark:before,
.devicon-symfony-plain-wordmark:before {
  content: "\e602";
}

.devicon-symfony-original:before,
.devicon-symfony-plain:before {
  content: "\e605";
}

.devicon-travis-plain-wordmark:before {
  content: "\ebcc";
}

.devicon-travis-plain:before {
  content: "\ebcd";
}

.devicon-trello-plain-wordmark:before {
  content: "\ebce";
}

.devicon-trello-plain:before {
  content: "\ebcf";
}

.devicon-ubuntu-plain-wordmark:before {
  content: "\ebd0";
}

.devicon-ubuntu-plain:before {
  content: "\ebd1";
}

.devicon-vim-plain:before {
  content: "\ebf3";
}

.devicon-windows8-original-wordmark:before,
.devicon-windows8-plain-wordmark:before {
  content: "\ebf4";
}

.devicon-windows8-original:before,
.devicon-windows8-plain:before {
  content: "\ebf5";
}

.devicon-wordpress-plain-wordmark:before {
  content: "\ebfd";
}

.devicon-wordpress-plain:before {
  content: "\ebfe";
}

.devicon-yii-plain-wordmark:before {
  content: "\ec01";
}

.devicon-yii-plain:before {
  content: "\ec02";
}

.devicon-zend-plain-wordmark:before {
  content: "\ec03";
}

.devicon-zend-plain:before {
  content: "\ec04";
}
