@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,400,300);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import 'reset.less';
@import 'variables.less';

body {
  font-family: @font-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
/* Base Styles
-------------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

@-webkit-keyframes bugfix {
  from {padding:0;}
  to {padding:0;}
}

/* Resets
---------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Headers
---------------------*/

ul {
  padding-left: 0;
}

ol, li {
  list-style-type: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

/* Links
---------------------*/
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

button:focus {
  outline: 0;
}