@import url('../../../assets/less/variables.less');

.root {
  position: fixed;
  right: -320px;
  top: 0;
  bottom: 0;
  left: auto;
  z-index: 2000;
  height: 100%;
  background-color: @bg-matte;
  box-shadow: -50px 40px 70px 0px rgba(50, 50, 50, 0.5);
  transition: 0.4s;

  &.open {
    right: 0;
  }
}

.corner {
  position: absolute;
  border-right: 81px solid @bg-matte;
  border-top: 430px solid rgba(0, 0, 0, 0);
  border-bottom: 430px solid rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  left: -80px;
}

.ul {
  width: 220px;
}

.li {
  display: block;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-family: @font-helv-neue;
  font-size: 19px;
  font-weight: 500;
  border-top: 1px solid fade(#cfcfcf, 15);

  &:nth-child(n+2) {
    line-height: 60px;
    height: 60px;
  }


  &:first-child {
    margin-bottom: 100%;

    span {
      position: absolute;
      top: 0;
      right: 0;
      color: #cfcfcf;
      font-size: 21px;
      line-height: 65px;
      height: 65px;
      width: 65px;
      color: @tx-light;
    }
  }

  &:last-child {
    border-bottom: 1px solid fade(#cfcfcf, 15);
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    color: @tx-light;
  }
}