.key,
.val {
  display: inline-block;
  text-align: left;
}

.console {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  z-index: 3000;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111111;
  opacity: 0.8;
}

.list {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 5px;
  box-shadow: -4px 15px 14px -4px rgba(0, 0, 0, 0.2);
  border: 1px solid #393939;
}

.table {
  position: relative;
  z-index: 100;
}

.item {
  display: block;
  padding: 1px 1px 1px 10px;
  color: #fff;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background-color: #111111;
}

.item:nth-child(even) {
  background-color: #000;
}

@media(min-width: 321px) {
  .key {
    margin-right: 0;
  }
  .item {
    font-size: 20px;
  }
}


@media(min-width: 737px) {
  .console {
    margin: 40px;
    padding: 40px;
  }
  .list {
    border-radius: 1px;
    border: 2px solid #393939;
  }
  .key {
    margin-right: 0;
  }
  .item {
    padding: 5px 5px 5px 10px;
    font-size: 26px;
  }
}
