// Queries
@mobile:                  ~'min-width: 320px';
@break:                   ~'min-width: 600px';
@tablet-portrait:         ~'min-width: 768px';
@tablet:                  ~'min-width: 1024px';
@desktop:                 ~'min-width: 1025px';
@desktop-md:              ~'min-width: 1440px';
@desktop-lg:              ~'min-width: 1920px';

// Fonts
@font-serif:             'Raleway', sans-serif;
@font-glengary:          'Glengary NF Regular';
@font-mer:               'Merriweather';
@font-sans:              'Source Sans Pro', sans;
@font-helv:              'Helvetica', Arial, sans-serif;
@font-helv-neue:         'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-size-icon:         14px;
@font-size-evcon:        42px;

// Colors
@tx-accent:              #5FA3C0;
@bg-accent:              #5FA3C0;
@tx-light:               #ffffff;
@bg-light:               #ffffff;
@tx-dark:                #231f20;
@bg-dark:                #231f20;