@import '../variables.less';
@import '../mixins.less';

.work {
  .clearfix;
  position: relative;
  height: 100%;
}

.project-info {
  width: 100%;
}

.project-links {
  width: 100%;
}

.project-tech {
  width: 100%;
}

// // Details - Info
.project-info {
  .clearfix;
  position: relative;
}

.project-title {
  margin: 15px;
  text-transform: uppercase;
  font-size: 22px;
}

.project-header {
  text-transform: uppercase;
  font-size: 26px;
  margin: 25px 15px;
}

.project-description {
  margin: 15px;
  line-height: 24px;
}

.project-tech {
  .clearfix;
  position: relative;
}

.project-links ul {
  margin: 15px;
}