@value global '../../style.css';

@value tablet from global;
@value clearfix from global;
@value font-helv-neue from global;
@value tx-secondary from global;

.items {
  display: block;
  composes: clearfix;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  text-align: center;
  font-family: font-helv-neue;
}

.item {
  display: block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}

@media tablet {
  .item {
    display: inline-block;
    float: left;
    height: 340px;
    width: 33.3333333333%;
  }
}

.content {
  position: relative;
  height: 100%;
  max-width: 300px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media tablet {
  .content {
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: auto;
  }
}

.links {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
}

@media tablet {
  .links {
    bottom: -20px;
  }
}

.link {
  display: inline-block;
  margin-left: 15px;
}

@media tablet {
  .link {
    margin-left: 20px;
  }
}

.link span {
  font-size: 32px;
}

@media tablet {
  .link span {
    font-size: 29px;
  }
}

.link a {
  color: tx-secondary;
}

.name {
  font-size: 26px;
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  text-align: justify;
}
